.buscar-orcamento {
  margin-top: 40px;
  margin-bottom: 40px;

  .card .head {
    padding: 6px;
    margin: 0 -15px !important;
    margin-bottom: 10px;
  }

  .btn-orcamento {
    border: none;
    background-color: $cor-principal-clara;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 2em;

    span {
      vertical-align: -10%;
    }

    @extend .sombra;

    &:hover {
      @extend .highlight;
      text-decoration: none;
    }
  }

  a.btn-orcamento {
    padding: 10px;
  }
}
