.follow-up {
  margin-top: 40px;
  margin-bottom: 40px;

  .card, .card > div, .card .head {
    padding: 4px;
  }

  .collapse.in {
    display: inline-block;
  }
}

.campo-duplo {
  > div {
    padding: 0 4px;
  }

  > div:last-child {
    padding-left: 4px !important;
    padding-right: 0 !important;
  }

  > div:nth-child(2){
    padding-left: 0 !important;
    padding-right: 4px !important;
  }
}

//.follow-up.container {
//  background-color: darksalmon !important;
//
//  .row {
//    background-color: lightblue !important;;
//  }
//}
