.footer {
  .agencia {
    color: white;
    font-size: .8em;
    opacity: .8;
    float: right;
    margin: 20px;

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;

      &:hover, &:visited {
        color: white;
      }
    }
  }
}
