div[name="footer"] {
  .navbar {
    height: 60px !important;
    box-shadow: 0 -2px 4px $cor-sombra;
  }
}

.footer {
  .dropup {
    position: absolute;
    top: 10px;
    left: 40px;

    .btn-primary {
      color: white;
      background-color: transparent;

      &:active, &:focus {
        background-color: $cor-principal;
      }
    }

    .atalhos {
      padding: 5px 0 !important;
      width: 330px !important;

      .comando {

        .label-primary {
          background-color: $cor-principal-clara;
        }
      }
    }
  }

  .agencia {
    color: white;
    font-size: .8em;
    opacity: .8;
    float: right;
    margin: 20px;

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;

      &:hover, &:visited {
        color: white;
      }
    }
  }
}

.atalhos-doido {
  width: 100%;
  background-color: darken($cor-principal, 10);
  position: fixed;
  bottom: 60px;
  height: 30px;
  color: white;
  padding: 3px 10px;
  text-align: center;

  .comando {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
  }
}
