.form-control:focus {
  //box-shadow: none;
  //border: none;
}

.dropdown-menu {
  min-width: 200px;
  width: 97.5%;
}

.dropdown-menu li > a {
  color: $cor-principal;
}

.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus,
.dropdown-menu .active > a {
  background-color: $cor-principal;
  color: white;
}

@import 'tabela-orcamento';
