.form-control:focus {
  //box-shadow: none;
  //border: none;
}

.dropdown-menu {
  min-width: 200px;
  width: 97.5%;

  li {
    overflow-x: hidden;
      > a {
      color: $cor-principal-clara;

      &:hover, &:focus {
        background-color: $cor-principal-clara;
        color: white;
      }
    }
  }

  > .active {
    a {
      background-color: $cor-principal-clara;
      color: white;

      &:hover, &:focus {
        background-color: $cor-principal-clara;
        color: white;
      }
    }

  }
}

#formulario-orcamento {
  div {
    padding: 4px 4px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: $cor-principal-clara;
  }

  .head {
    color: white;
    background-color: $cor-principal-clara;
    cursor: hand;
    cursor: pointer;

    h3 {
      margin: 10px;
    }

    a {
      color: white;
    }

    .glyphicon-menu-up, .glyphicon-menu-down {
      float: right;
    }
  }

  .input-group {
    input {
      text-align: right;
    }
  }
}

#tabela-orcamento {
  @extend .tabela;

  thead, tbody, tr, td, th {
    display: block;
  }

  thead {
    th {
      float: left;
    }

    tr {
      padding-right: 18px;
    }
  }

  tbody {
    height: 225px;
    overflow-y: scroll;

    tr {
      min-width: 700px;
    }

    td {
      float: left;
    }
  }

  tr {
    &:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
  }

  th, td {
    &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5),
    &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
      width: 7.5%;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }

  td {
    &:nth-child(4), &:nth-child(6), &:nth-child(7) {
      span {
        display: inherit;
      }
      input {
        display: none;
        width: 100%;
        text-align: center;
        margin: 0;
      }

      &:hover {
        padding-top: 5px;
        padding-bottom: 4px;
        span {
          display: none;
        }
        input {
          display: inherit;
        }
      }
    }
  }
}

#controle-tabela-orcamento .row {
  margin-top: 0;
  margin-bottom: 0;
}

.display {
  background-color: $cor-principal-clara;
  font-size: 2.1em;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

#tabela-pagamento {
  @extend .tabela;
}
