$print-font-size: 11px;

@media print {
  .header {
    display: none;
  }

  .header-alternativo {
    display: none;
  }

  .footer {
    display: none;
  }

  .impressao {
    display: block;
  }

  .impressao {
    .espacador {
      min-height: 26px !important;
      max-height: 26px !important;
      height: 26px !important;
      //background-color: red !important;
    }

    .tabela {
      border: 1px solid black !important;
      td, th {
        background-color: white !important;
        border: 1px solid black !important;
      }
    }
  }

  .impressao.aviso {
    color: #333 !important;
    font-size: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #formulario-orcamento, #loading, div[name='header'], .alerta, div[name='footer'] {
    display: none;
  }

  div.alerta {
    visibility: hidden !important;
  }
}

@media screen {
  .impressao {
    display: none;
  }
}

.form-control:focus {
  //box-shadow: none;
  //border: none;
}

#formulario-orcamento {
  margin-top: 40px;
  margin-bottom: 40px;

  div {
    padding: 4px 4px;
  }

  h4 {
    margin-top: 0;
    //margin-bottom: 0;
  }

  h5 {
    //color: $cor-principal-clara;
    margin: 0;
    margin-top: 5px;
  }

  .main-head {
    @extend .head;

    cursor: default;
  }

  .input-group {
    input {
      text-align: right;
    }
  }

  .alert-exportado {
    background-color: $brand-success;
    color: white;
    border-color: lighten($brand-success, 10%);
  }

  .btn-form {
    width: 100%;
    font-size: 1.2em;
    height: 50px;
    color: $cor-principal-clara;
  }

  .btn-orcamento {
    border: none;
    background-color: $cor-principal-clara;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 2em;

    span {
      vertical-align: -10%;
    }

    @extend .sombra;

    &:hover {
      @extend .highlight;
      text-decoration: none;
    }
  }

  .btn-orcamento.success {
    background-color: darken($brand-success, 5%);

    &:hover {
      background-color: darken($brand-success, 15%);
    }
  }

  .btn-orcamento.danger {
    background-color: $brand-danger;

    &:hover {
      background-color: darken($brand-danger, 10%);
    }
  }

  .btn-orcamento.warning {
    background-color: $brand-warning;

    &:hover {
      background-color: darken($brand-warning, 10%);
    }
  }

  a.btn-orcamento {
    padding: 10px;
  }

  .dropdown-menu {
    min-width: 200px;
    width: 97.5%;

    li {
      overflow-x: hidden;
      > a {
        color: $cor-principal-clara;

        &:hover, &:focus {
          background-color: $cor-principal-clara;
          color: white;
        }
      }
    }

    > .active {
      a {
        background-color: $cor-principal-clara;
        color: white;

        &:hover, &:focus {
          background-color: $cor-principal-clara;
          color: white;
        }
      }

    }
  }
}

#tabela-orcamento {
  @extend .tabela;
  @extend .tabela-header-fixo;

  border: 2px solid $cor-principal-clara;

  th, td {
    white-space: nowrap;

    //&:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5),
    //&:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
    //  width: 7.5%;
    //}

    &:nth-child(1), &:nth-child(5),
    &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      width: 9%;
    }

    &:nth-child(3) {
      width: 5.5%;
    }

    &:nth-child(4) {
      width: 6.5%;
    }

    &:nth-child(9) {
      width: 3%;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }
}

#controle-tabela-orcamento .row {
  margin-top: 0;
  margin-bottom: 0;
}

.impressao {
  //padding: 50px;
  //height: 800px;
  //min-height: 800px;
  font-family: sans-serif;

  .cabecalho {
    height: 120px;

    .logo {
      width: 240px;
      height: 80px;
      float: left;

      > img {
        width: 100%;
        height: auto;
      }
    }

    .orcamento-identificacao {
      float: right;
      margin: 0;
    }

    .data {
      float: right;
      margin: 20px 0;
      font-size: $print-font-size;

      h5 {
        display: inline;
        font-weight: 800;
        font-size: $print-font-size;
      }
    }
  }

  .info {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    table {
      td {
        vertical-align: top;
        font-size: $print-font-size;

        h5 {
          font-weight: 800;
          display: inline;
          margin: 0;
          font-size: $print-font-size;
        }
      }
    }

    .dados {
      width: 100%;
    }

    .totais {
      margin-left: auto;
      td {
        padding: 0 40px;
      }
    }
  }

  .tabela {
    border: 1px solid $cor-principal;
    width: 100%;
    min-width: 100%;
    margin: 15px 0 15px 0;

    th {
      padding: 5px;
      text-align: center;
      font-size: $print-font-size;
      border: 1px solid $cor-principal;
    }

    td {
      padding: 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      font-size: $print-font-size;
      border: 1px solid $cor-principal;
      margin: 0;
    }

    th, td {
      &:nth-child(1), &:nth-child(5), &:nth-child(6) {
        width: 80px;
        min-width: 80px;
      }

      &:nth-child(3), &:nth-child(4) {
        width: 40px;
        min-width: 40px;
      }
    }
  }

  .assinatura {
    width: 100%;

    > div {
      margin: 0 auto;
      border-bottom: 1px solid black;
      width: 350px;
      padding-bottom: 30px;
      text-align: center;
    }
  }

  .rodape {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .quebra {
    page-break-after: always;
  }

  .margem {
    //margin-top: 250px;
  }
}

.opcoes {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $fundo-preto-transparente;
  z-index: 101;
  opacity: 0;
  display: none;

  .container {
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0 !important;

    .header {
      background-color: $cor-principal-clara;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin: 0;
      height: 60px;
      color: white;
      font-size: 1.8em;
      //text-align: center;
      padding: 10px !important;
      //text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

      .close {
        float: right;
        font-size: 1.5em;
      }
    }

    .body {
      background-color: white;
      height: 365px;
      padding: 20px !important;
      text-align: center;
    }

    .footer {
      background-color: white;
      height: 60px;
      border-top: 1px solid #ccc;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px !important;

      button {
        float: right;
      }
    }
  }

  .remove-padding {
    > div {
      padding: 8px;
    }
  }
}
