#formulario-orcamento {
  /*background-color: white;*/
  /*padding: 10px;*/
}

#formulario-orcamento div {
  padding: 4px 4px;
}

#formulario-orcamento h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#formulario-orcamento table {
  border: 2px solid $cor-principal;
  margin-bottom: 0px;
}

#formulario-orcamento thead tr:nth-child(1) {
  background-color: $cor-principal;
  color: white;
}

#formulario-orcamento thead tr:nth-child(1) th {
  border-bottom: none;
}

#tabela-orcamento tr:nth-child(even) {
  background-color: #f0f0f0;
}

#formulario-orcamento h3 > a {
  color: $cor-principal;
}

#tabela-orcamento thead,
#tabela-orcamento tbody,
#tabela-orcamento tr,
#tabela-orcamento td,
#tabela-orcamento th {
  display: block;
}

#tabela-orcamento a {
  color: $cor-principal;
}

#tabela-orcamento tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#tabela-orcamento tbody {
  height: 225px;
  overflow-y: auto;
}

#tabela-orcamento tbody td,
#tabela-orcamento thead th {
  float: left;
}

th,
td {
  text-align: center;
}

#tabela-orcamento th:nth-child(1), #tabela-orcamento td:nth-child(1),
#tabela-orcamento th:nth-child(3), #tabela-orcamento td:nth-child(3),
#tabela-orcamento th:nth-child(4), #tabela-orcamento td:nth-child(4),
#tabela-orcamento th:nth-child(5), #tabela-orcamento td:nth-child(5),
#tabela-orcamento th:nth-child(6), #tabela-orcamento td:nth-child(6),
#tabela-orcamento th:nth-child(7), #tabela-orcamento td:nth-child(7),
#tabela-orcamento th:nth-child(8), #tabela-orcamento td:nth-child(8),
#tabela-orcamento th:nth-child(9), #tabela-orcamento td:nth-child(9) {
  width: 7.5%;
}

#tabela-orcamento th {
  /*height: 60px;*/
}

#tabela-orcamento th:nth-child(2), #tabela-orcamento td:nth-child(2) {
  width: 40%;
}

#controle-tabela-orcamento {
  /*border: solid 2px rgb(0, 167, 156);*/
  /*background-color: rgb(0, 167, 156);*/
  /*background-color: #f3f3f3;*/
  /*margin-top: -2px;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*background-color: #f3f3f3;*/
}

#controle-tabela-orcamento .row {
  margin-top: 0;
  margin-bottom: 0;
}

.input-display[readonly] {
  background-color: $cor-principal;
  font-size: 1.8em;
  color: white;
  text-align: center;
  height: 50px;
  border: none;
}
