$cor-principal:        #3b5998; //rgb(0, 167, 156);
$cor-principal-clara:  #6481bb;
$cor-highlight:        #29487d; //rgb(0, 196, 193);
$cor-active:           rgb(0, 130, 120);
$cor-de-fundo:         #ddd;
$cor-fundo-tabela:     #f2f2f2;
$cor-tabela-highlight: #dedede;

body {
  background-color: $cor-de-fundo;
  padding-bottom: 100px;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  //background-image: url('../images/ring-alt.gif');
  background-color: rgba(0, 0, 0, 0.6);
  //background-repeat: no-repeat;
  //background-position: center;

  > div {
    position: absolute;
    transform: scale(0.75);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerX {
  width: 100%;
  margin: 0 auto;
}

.center-absolute {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.highlight {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: $cor-highlight;
  cursor: pointer;
  cursor: hand;
}

.sombra {
  -webkit-box-shadow: 0px 2px 4px #999;
  -moz-box-shadow: 0px 2px 4px #999;
  box-shadow: 0px 2px 4px #999;
}

.card {
  @extend .sombra;
  background-color: white;
  padding: 10px 30px;
}

.div-display {
  background-color: $cor-principal-clara;
  font-size: 2.1em;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus, .btn:active:focus {
  outline: none;
  border: 1px solid $cor-principal-clara;
  box-shadow: 0 0 6px $cor-principal-clara;
}

.alerta {
  @extend .center-absolute;
  text-align: center;
}

.tabela {
  border: 2px solid $cor-principal-clara;
  margin-bottom: 0px;
  background-color: $cor-fundo-tabela;

  a {
    color: $cor-principal-clara;
  }

  thead {
    background-color: $cor-principal-clara;

    tr {
      background-color: $cor-principal-clara !important;
    }
  }

  th {
    border-bottom: none;
    background-color: $cor-principal-clara;
    color: white;
    text-align: center;
  }

  td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .inactive-editable-cell {
    span {
      display: inherit;
    }

    input {
      display: none;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .editable-cell {
    @extend .inactive-editable-cell;

    &:hover {
      padding-top: 5px;
      padding-bottom: 4px;
      span {
        display: none;
      }
      input {
        display: inherit;
      }
    }
  }

  tr {
    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:hover {
      background-color: $cor-tabela-highlight;
      cursor: hand;
      cursor: pointer;
    }
  }
}

.tabela-bordered {
  td {
    border: 1px solid $cor-principal-clara;
  }
}

.tabela-header-fixo {
  thead, tbody, tr, td, th {
    display: block;
  }

  thead {
    th {
      float: left;
    }

    tr {
      padding-right: 18px;
    }
  }

  tbody {
    height: 225px;
    overflow-y: scroll;

    tr {
      min-width: 700px;
    }

    td {
      float: left;
    }
  }

  tr {
    &:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
  }
}

.meu-modal {

  .header {
    background-color: $cor-principal-clara;
    height: 60px;
    border-radius: 4px 4px 0 0;
    color: white;
    padding: 4px 4px 4px 10px;

    .title {
      font-size: 2.5em;

      span {
        vertical-align: -11%;
      }

      .close {
        font-size: .9em;
        margin: 9px;

        &:hover {
          color: white;
        }
      }
    }
  }

  .body {
    height: 360px;
    //max-height: 500px;
    overflow-y: auto;
    padding: 15px;

    h4 {
      color: $cor-principal-clara;
    }

    div {
      padding-left: 5px;
      padding-right: 5px;
    }

    .container {
      width: 100%;
    }
  }

  .footer {
    border-top: 1px solid #ccc;
    height: 60px;
    padding: 10px;

    button {
      width: 120px;
      font-size: 1.2em;
      height: 100%;
      color: $cor-principal-clara;
      float: right;
      margin-left: 10px;

      span {
        vertical-align: -10%;
      }
    }
  }

}

#tabela-pagamento {
  th, td {
    &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      width: 15%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(6) {
      width: 10%;
    }
  }
}

#tabela-buscar-pessoas {
  th, td {
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 80%;
    }
  }
}

@import 'header';
@import 'login';
@import 'home';
@import 'orcamento';
@import 'loading';



