body {
  background-color: #ddd;
  padding-bottom: 100px; }

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.6); }
  #loading > div {
    position: absolute;
    transform: scale(0.75);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.centerX {
  width: 100%;
  margin: 0 auto; }

.center-absolute, .alerta {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.highlight, .navbar-default .navbar-nav li:hover, .botao-menu:hover, #formulario-orcamento .btn-orcamento:hover {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #29487d;
  cursor: pointer;
  cursor: hand; }

.sombra, .card, .navbar-default, .botao-menu, #formulario-orcamento .btn-orcamento {
  -webkit-box-shadow: 0px 2px 4px #999;
  -moz-box-shadow: 0px 2px 4px #999;
  box-shadow: 0px 2px 4px #999; }

.card {
  background-color: white;
  padding: 10px 30px; }

.div-display {
  background-color: #6481bb;
  font-size: 2.1em;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 5px; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus, .btn:active:focus {
  outline: none;
  border: 1px solid #6481bb;
  box-shadow: 0 0 6px #6481bb; }

.alerta {
  text-align: center; }

.tabela, #tabela-orcamento {
  border: 2px solid #6481bb;
  margin-bottom: 0px;
  background-color: #f2f2f2; }
  .tabela a, #tabela-orcamento a {
    color: #6481bb; }
  .tabela thead, #tabela-orcamento thead {
    background-color: #6481bb; }
    .tabela thead tr, #tabela-orcamento thead tr {
      background-color: #6481bb !important; }
  .tabela th, #tabela-orcamento th {
    border-bottom: none;
    background-color: #6481bb;
    color: white;
    text-align: center; }
  .tabela td, #tabela-orcamento td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap; }
  .tabela .inactive-editable-cell span, #tabela-orcamento .inactive-editable-cell span, .tabela .editable-cell span, #tabela-orcamento .editable-cell span {
    display: block; }
  .tabela .inactive-editable-cell input, #tabela-orcamento .inactive-editable-cell input, .tabela .editable-cell input, #tabela-orcamento .editable-cell input {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0; }
  .tabela .editable-cell:hover, #tabela-orcamento .editable-cell:hover {
    padding-top: 5px;
    padding-bottom: 4px; }
    .tabela .editable-cell:hover span, #tabela-orcamento .editable-cell:hover span {
      display: none; }
    .tabela .editable-cell:hover input, #tabela-orcamento .editable-cell:hover input {
      display: inherit; }
  .tabela tr:nth-child(odd), #tabela-orcamento tr:nth-child(odd) {
    background-color: white; }
  .tabela tr:nth-child(even), #tabela-orcamento tr:nth-child(even) {
    background-color: white; }
  .tabela tr:hover, #tabela-orcamento tr:hover {
    background-color: #dedede; }

.tabela-bordered td {
  border: 1px solid #6481bb; }

.tabela-header-fixo thead, #tabela-orcamento thead, .tabela-header-fixo tbody, #tabela-orcamento tbody, .tabela-header-fixo tr, #tabela-orcamento tr, .tabela-header-fixo td, #tabela-orcamento td, .tabela-header-fixo th, #tabela-orcamento th {
  display: block; }
.tabela-header-fixo thead th, #tabela-orcamento thead th {
  float: left; }
.tabela-header-fixo thead tr, #tabela-orcamento thead tr {
  padding-right: 18px; }
.tabela-header-fixo tbody, #tabela-orcamento tbody {
  height: 225px;
  overflow-y: scroll; }
  .tabela-header-fixo tbody tr, #tabela-orcamento tbody tr {
    min-width: 700px; }
  .tabela-header-fixo tbody td, #tabela-orcamento tbody td {
    float: left; }
.tabela-header-fixo tr:after, #tabela-orcamento tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both; }

.meu-modal .header {
  background-color: #6481bb;
  height: 60px;
  border-radius: 4px 4px 0 0;
  color: white;
  padding: 4px 4px 4px 10px; }
  .meu-modal .header .title {
    font-size: 2.5em; }
    .meu-modal .header .title span {
      vertical-align: -11%; }
    .meu-modal .header .title .close {
      font-size: .9em;
      margin: 9px; }
      .meu-modal .header .title .close:hover {
        color: white; }
.meu-modal .body {
  height: 360px;
  overflow-y: auto;
  padding: 15px; }
  .meu-modal .body h4 {
    color: #6481bb; }
  .meu-modal .body div {
    padding-left: 5px;
    padding-right: 5px; }
  .meu-modal .body .container {
    width: 100%; }
.meu-modal .footer {
  border-top: 1px solid #ccc;
  height: 60px;
  padding: 10px; }
  .meu-modal .footer button {
    width: 120px;
    font-size: 1.2em;
    height: 100%;
    color: #6481bb;
    float: right;
    margin-left: 10px; }
    .meu-modal .footer button span {
      vertical-align: -10%; }

#tabela-pagamento th:nth-child(1), #tabela-pagamento th:nth-child(3), #tabela-pagamento th:nth-child(4), #tabela-pagamento td:nth-child(1), #tabela-pagamento td:nth-child(3), #tabela-pagamento td:nth-child(4) {
  width: 15%; }
#tabela-pagamento th:nth-child(2), #tabela-pagamento td:nth-child(2) {
  width: 30%; }
#tabela-pagamento th:nth-child(5), #tabela-pagamento td:nth-child(5) {
  width: 20%; }
#tabela-pagamento th:nth-child(6), #tabela-pagamento td:nth-child(6) {
  width: 5%; }

#tabela-buscar-pessoas th:nth-child(1), #tabela-buscar-pessoas td:nth-child(1) {
  width: 20%; }
#tabela-buscar-pessoas th:nth-child(2), #tabela-buscar-pessoas td:nth-child(2) {
  width: 80%; }

.banner {
  background-image: url("../images/logotipo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  width: 100%;
  height: 110px;
  background-color: white; }

.navbar-default {
  background-color: #3b5998;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.2em; }
  .navbar-default .navbar-nav {
    float: none;
    text-align: center; }
    .navbar-default .navbar-nav li {
      display: inline-block;
      float: none; }
      .navbar-default .navbar-nav li a {
        color: white; }
        .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
          color: white; }
    .navbar-default .navbar-nav .active a:hover {
      background-color: #008278;
      color: white; }
  .navbar-default .navbar-fixed-bottom {
    color: white;
    height: 70px;
    padding: 10px 0px; }
    .navbar-default .navbar-fixed-bottom div {
      width: 100%;
      height: 100%;
      border-top: 1px dashed white;
      border-bottom: 1px dashed white; }

#login {
  text-align: center;
  color: #777;
  margin: auto; }

#form-login {
  width: 340px;
  height: 320px;
  text-align: center;
  margin: auto;
  display: block;
  position: relative; }
  #form-login input {
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    padding: 10px;
    z-index: 1; }

#usuario {
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 30px; }

#senha {
  z-index: 1;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 0px; }

#usuario:focus, #senha:focus {
  border: 1px solid #3b5998;
  z-index: 100; }

#btn-login {
  width: 100%;
  margin-top: 10px;
  font-size: 1.4em;
  height: 50px; }

#logo-login {
  background-image: url("../images/logo_nome.png");
  width: 100%;
  height: 50px;
  background-size: 15%;
  background-repeat: no-repeat;
  margin: 10px auto;
  background-position: center; }

#menu-home {
  padding: 30px;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  transform: translateY(25%); }

.botao-menu {
  margin: 14px 0;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 2em;
  position: relative;
  background-color: #3b5998;
  color: white; }

.botao-menu:hover {
  top: -10px;
  box-shadow: 0px 12px 14px #999; }

.botao-menu span {
  font-size: 2em;
  margin-bottom: 40px; }

.dropdown-menu {
  min-width: 200px;
  width: 97.5%; }
  .dropdown-menu li {
    overflow-x: hidden; }
    .dropdown-menu li > a {
      color: #6481bb; }
      .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
        background-color: #6481bb;
        color: white; }
  .dropdown-menu > .active a {
    background-color: #6481bb;
    color: white; }
    .dropdown-menu > .active a:hover, .dropdown-menu > .active a:focus {
      background-color: #6481bb;
      color: white; }

#formulario-orcamento div {
  padding: 4px 4px; }
#formulario-orcamento h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #6481bb; }
#formulario-orcamento h5 {
  color: #6481bb;
  margin: 0;
  margin-top: 5px; }
#formulario-orcamento .head {
  color: white;
  background-color: #6481bb;
  cursor: pointer; }
  #formulario-orcamento .head h3 {
    margin: 10px; }
  #formulario-orcamento .head a {
    color: white; }
  #formulario-orcamento .head .limpar {
    font-size: .8em;
    font-weight: 400;
    vertical-align: middle; }
  #formulario-orcamento .head .glyphicon-menu-up, #formulario-orcamento .head .glyphicon-menu-down {
    float: right; }
#formulario-orcamento .input-group input {
  text-align: right; }
#formulario-orcamento .btn-form {
  width: 100%;
  font-size: 1.2em;
  height: 50px;
  color: #6481bb; }
#formulario-orcamento .btn-orcamento {
  border: none;
  background-color: #6481bb;
  color: white;
  width: 100%;
  height: 60px;
  font-size: 2em; }
  #formulario-orcamento .btn-orcamento span {
    vertical-align: -10%; }

#tabela-orcamento th:nth-child(1), #tabela-orcamento th:nth-child(3), #tabela-orcamento th:nth-child(4), #tabela-orcamento th:nth-child(5), #tabela-orcamento th:nth-child(6), #tabela-orcamento th:nth-child(7), #tabela-orcamento th:nth-child(8), #tabela-orcamento th:nth-child(9), #tabela-orcamento td:nth-child(1), #tabela-orcamento td:nth-child(3), #tabela-orcamento td:nth-child(4), #tabela-orcamento td:nth-child(5), #tabela-orcamento td:nth-child(6), #tabela-orcamento td:nth-child(7), #tabela-orcamento td:nth-child(8), #tabela-orcamento td:nth-child(9) {
  width: 7.5%; }
#tabela-orcamento th:nth-child(2), #tabela-orcamento td:nth-child(2) {
  width: 40%; }

#controle-tabela-orcamento .row {
  margin-top: 0;
  margin-bottom: 0; }

@-webkit-keyframes uil-default-anim {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes uil-default-anim {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.uil-default-css > div:nth-of-type(1) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(2) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.4166666666666667s;
  animation-delay: -0.4166666666666667s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(3) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.33333333333333337s;
  animation-delay: -0.33333333333333337s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(4) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(5) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.16666666666666669s;
  animation-delay: -0.16666666666666669s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(6) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.08333333333333331s;
  animation-delay: -0.08333333333333331s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(7) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(8) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.08333333333333337s;
  animation-delay: 0.08333333333333337s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(9) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.16666666666666663s;
  animation-delay: 0.16666666666666663s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(10) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(11) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.33333333333333337s;
  animation-delay: 0.33333333333333337s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

.uil-default-css > div:nth-of-type(12) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.41666666666666663s;
  animation-delay: 0.41666666666666663s; }

.uil-default-css {
  position: relative;
  background: none;
  width: 200px;
  height: 200px; }

/*# sourceMappingURL=global.css.map */
