body {
  background-color: #ddd;
  padding-bottom: 100px; }

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.centerX {
  width: 100%;
  margin: 0 auto; }

.center-absolute, alerta {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.highlight, .navbar-default .navbar-nav li:hover, .botao-menu:hover {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #29487d;
  cursor: pointer;
  cursor: hand; }

.sombra, .card, .navbar-default, .botao-menu {
  -webkit-box-shadow: 0px 2px 4px #999;
  -moz-box-shadow: 0px 2px 4px #999;
  box-shadow: 0px 2px 4px #999; }

.card {
  background-color: white;
  padding: 10px 30px; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus, .btn:active:focus {
  outline: none;
  border: 1px solid #6481bb;
  box-shadow: 0 0 6px #6481bb; }

alerta {
  text-align: center; }

.tabela, #tabela-orcamento, #tabela-pagamento {
  border: 2px solid #6481bb;
  margin-bottom: 0px;
  background-color: #f2f2f2; }
  .tabela a, #tabela-orcamento a, #tabela-pagamento a {
    color: #6481bb; }
  .tabela thead, #tabela-orcamento thead, #tabela-pagamento thead {
    background-color: #6481bb; }
    .tabela thead tr, #tabela-orcamento thead tr, #tabela-pagamento thead tr {
      background-color: #6481bb !important; }
  .tabela th, #tabela-orcamento th, #tabela-pagamento th {
    border-bottom: none;
    background-color: #6481bb;
    color: white;
    text-align: center; }
  .tabela td, #tabela-orcamento td, #tabela-pagamento td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap; }
  .tabela tr:nth-child(odd), #tabela-orcamento tr:nth-child(odd), #tabela-pagamento tr:nth-child(odd) {
    background-color: white; }
  .tabela tr:nth-child(even), #tabela-orcamento tr:nth-child(even), #tabela-pagamento tr:nth-child(even) {
    background-color: white; }
  .tabela tr:hover, #tabela-orcamento tr:hover, #tabela-pagamento tr:hover {
    background-color: #dedede;
    cursor: hand;
    cursor: pointer; }

.banner {
  background-image: url("../images/logotipo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  width: 100%;
  height: 110px;
  background-color: white; }

.navbar-default {
  background-color: #3b5998;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.2em; }
  .navbar-default .navbar-nav {
    float: none;
    text-align: center; }
    .navbar-default .navbar-nav li {
      display: inline-block;
      float: none; }
      .navbar-default .navbar-nav li a {
        color: white; }
        .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
          color: white; }
    .navbar-default .navbar-nav .active a:hover {
      background-color: #008278;
      color: white; }
  .navbar-default .navbar-fixed-bottom {
    color: white;
    height: 70px;
    padding: 10px 0px; }
    .navbar-default .navbar-fixed-bottom div {
      width: 100%;
      height: 100%;
      border-top: 1px dashed white;
      border-bottom: 1px dashed white; }

#login {
  text-align: center;
  color: #777;
  margin: auto; }

#form-login {
  width: 340px;
  height: 320px;
  text-align: center;
  margin: auto;
  display: block;
  position: relative; }
  #form-login input {
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    padding: 10px;
    z-index: 1; }

#usuario {
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 30px; }

#senha {
  z-index: 1;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 0px; }

#usuario:focus, #senha:focus {
  border: 1px solid #3b5998;
  z-index: 100; }

#btn-login {
  width: 100%;
  margin-top: 10px;
  font-size: 1.4em;
  height: 50px; }

#logo-login {
  background-image: url("../images/logo_nome.png");
  width: 100%;
  height: 50px;
  background-size: 15%;
  background-repeat: no-repeat;
  margin: 10px auto;
  background-position: center; }

#menu-home {
  padding: 30px;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  transform: translateY(25%); }

.botao-menu {
  margin: 14px 0;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 2em;
  position: relative;
  background-color: #3b5998;
  color: white; }

.botao-menu:hover {
  top: -10px;
  box-shadow: 0px 12px 14px #999; }

.botao-menu span {
  font-size: 2em;
  margin-bottom: 40px; }

.dropdown-menu {
  min-width: 200px;
  width: 97.5%; }
  .dropdown-menu li {
    overflow-x: hidden; }
    .dropdown-menu li > a {
      color: #6481bb; }
      .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
        background-color: #6481bb;
        color: white; }
  .dropdown-menu > .active a {
    background-color: #6481bb;
    color: white; }
    .dropdown-menu > .active a:hover, .dropdown-menu > .active a:focus {
      background-color: #6481bb;
      color: white; }

#formulario-orcamento div {
  padding: 4px 4px; }
#formulario-orcamento h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #6481bb; }
#formulario-orcamento .head {
  color: white;
  background-color: #6481bb;
  cursor: hand;
  cursor: pointer; }
  #formulario-orcamento .head h3 {
    margin: 10px; }
  #formulario-orcamento .head a {
    color: white; }
  #formulario-orcamento .head .glyphicon-menu-up, #formulario-orcamento .head .glyphicon-menu-down {
    float: right; }
#formulario-orcamento .input-group input {
  text-align: right; }

#tabela-orcamento thead, #tabela-orcamento tbody, #tabela-orcamento tr, #tabela-orcamento td, #tabela-orcamento th {
  display: block; }
#tabela-orcamento thead th {
  float: left; }
#tabela-orcamento thead tr {
  padding-right: 18px; }
#tabela-orcamento tbody {
  height: 225px;
  overflow-y: scroll; }
  #tabela-orcamento tbody tr {
    min-width: 700px; }
  #tabela-orcamento tbody td {
    float: left; }
#tabela-orcamento tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both; }
#tabela-orcamento th:nth-child(1), #tabela-orcamento th:nth-child(3), #tabela-orcamento th:nth-child(4), #tabela-orcamento th:nth-child(5), #tabela-orcamento th:nth-child(6), #tabela-orcamento th:nth-child(7), #tabela-orcamento th:nth-child(8), #tabela-orcamento th:nth-child(9), #tabela-orcamento td:nth-child(1), #tabela-orcamento td:nth-child(3), #tabela-orcamento td:nth-child(4), #tabela-orcamento td:nth-child(5), #tabela-orcamento td:nth-child(6), #tabela-orcamento td:nth-child(7), #tabela-orcamento td:nth-child(8), #tabela-orcamento td:nth-child(9) {
  width: 7.5%; }
#tabela-orcamento th:nth-child(2), #tabela-orcamento td:nth-child(2) {
  width: 40%; }

#controle-tabela-orcamento .row {
  margin-top: 0;
  margin-bottom: 0; }

.display {
  background-color: #6481bb;
  font-size: 2.1em;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 5px; }

/*# sourceMappingURL=global.css.map */
