$cor-principal:            #3b5998; //rgb(0, 167, 156);
$cor-principal-clara:      #6481bb;
$cor-highlight:            #29487d; //rgb(0, 196, 193);
$cor-active:               rgb(0, 130, 120);
$cor-de-fundo:             #ddd;
$cor-fundo-tabela:         #f2f2f2;
$cor-tabela-highlight:     #dedede;
$cor-sombra:               rgba(50, 50, 50, .35);
$fundo-preto-transparente: rgba(0, 0, 0, 0.6);

html {
  height: 100%;
}

body {
  background-color: $cor-de-fundo;
  padding-bottom: 60px;

  position: relative;
  min-height: 100%;
  //max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  //background-image: url('../images/ring-alt.gif');
  background-color: $fundo-preto-transparente;
  //background-repeat: no-repeat;
  //background-position: center;

  > div {
    position: absolute;
    transform: scale(0.75);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerX {
  width: 100%;
  margin: 0 auto;
}

.highlight {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: $cor-highlight;
  cursor: pointer;
}

.ease-opacity {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.sombra {
  -webkit-box-shadow: 0 2px 4px $cor-sombra;
  -moz-box-shadow: 0 2px 4px $cor-sombra;
  box-shadow: 0 2px 4px $cor-sombra;
}

.card {
  @extend .sombra;
  background-color: white;
  padding: 10px 30px;
}

.alerta {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  height: 50px;
  margin: 10px;
  z-index: 100000;
  opacity: 0;
  -webkit-box-shadow: 0px 2px 10px #444;
  -moz-box-shadow: 0px 2px 10px #444;
  box-shadow: 0px 2px 10px #444;
  display: none;
  pointer-events: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

.remove-padding {
  padding: 0;
}

.condensar-rows {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;

    > div {
      padding: 0!important;
    }
  }
}

.btn.btn-default {
  color: $cor-principal-clara;

  &:hover, &:focus {
    color: $cor-principal-clara;
  }
}

input.form-control{
  padding-left: 6px;
  padding-right: 6px;
}

.botao-esticado {
  width: 100%;
}

.div-display {
  background-color: $cor-principal-clara;
  font-size: 2.1em;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 4px;

  text-shadow:
    -1px -1px 0 $cor-principal-clara,
    1px -1px 0 $cor-principal-clara,
    -1px 1px 0 $cor-principal-clara,
    1px 1px 0 $cor-principal-clara;

  input {
    //border: none;
    //background-color: $cor-principal-clara;
    color: $cor-principal-clara;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

.div-display.editable-elem {
  &:hover {
    color: $cor-principal-clara !important;
    text-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $cor-principal-clara;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus, .btn:active:focus {
  outline: none;
  border: 1px solid $cor-principal-clara;
  box-shadow: 0 0 6px $cor-principal-clara;
}

.input-error {
  border: 1px solid #bf0000 !important;
  box-shadow: 0 0 6px #bf0000 !important;
}

.tabela {
  margin-bottom: 0;
  background-color: $cor-fundo-tabela;

  a {
    color: $cor-principal-clara;
  }

  thead {
    background-color: $cor-principal-clara;

    tr {
      background-color: $cor-principal-clara !important;
    }
  }

  th {
    border-bottom: none;
    background-color: $cor-principal-clara;
    color: white;
    text-align: center;
  }

  td {
    text-align: center;
    overflow: hidden;
    //white-space: nowrap;
    padding: 5px;
  }

  tr {
    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: white;
    }

    &:hover {
      background-color: $cor-tabela-highlight;
    }
  }
}

.editable-elem {
  span {
    display: block;
  }

  input {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid $cor-principal-clara;
    padding: 0px !important;
  }

  &:hover {
    cursor: pointer;
    padding: 4px !important;
    span {
      border: 1px dashed $cor-principal-clara;
      background-color: rgba(255, 255, 255, .8);
    }
  }
}

.editable-elem.ativo {
  padding: 4px !important;
  span {
    display: none;
  }

  input {
    display: inherit;
  }
}

.inactive-editable-elem {
  @extend .editable-elem;

  &:hover {
    //padding-top: 5px;
    //padding-bottom: 5px;
    span {
      display: inline;
    }

    input {
      display: none;
    }
  }
}

.tabela-esticada {
  width: 100%;
  max-width: 100%;
}

.tabela-bordered {
  border: 2px solid $cor-principal-clara;

  td, th {
    border: 1px solid $cor-principal-clara;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.tabela-selecionavel {
  td {
    cursor: pointer;
  }
}

.tabela-header-fixo {
  thead, tbody, tr, td, th {
    display: block;
  }

  thead {
    th {
      float: left;
    }

    tr {
      padding-right: 18px;
    }
  }

  tbody {
    height: 225px;
    overflow-y: scroll;

    tr {
      min-width: 700px;
    }

    td {
      float: left;
    }
  }

  tr {
    &:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
  }
}

.modal {
  //margin-top: 100px;
}

.meu-modal {

  .header {
    background-color: $cor-principal-clara;
    height: 60px;
    border-radius: 4px 4px 0 0;
    color: white;
    padding: 4px 4px 4px 10px;

    .title {
      font-size: 2.5em;

      span {
        vertical-align: -11%;
      }

      .close {
        font-size: .9em;
        margin: 9px;

        &:hover {
          color: white;
        }
      }
    }
  }

  .body {
    height: 460px;
    //max-height: 500px;
    overflow-y: auto;
    padding: 15px;

    .container {
      width: 100%;
    }
  }

  .footer {
    border-top: 1px solid #ccc;
    height: 60px;
    padding: 10px;

    button {
      width: 120px;
      font-size: 1.2em;
      height: 100%;
      color: $cor-principal-clara;
      float: right;
      margin-left: 10px;

      span {
        vertical-align: -10%;
      }
    }
  }

}

#tabela-pagamento {
  th, td {
    &:nth-child(1), &:nth-child(3), &:nth-child(4) {
      width: 15%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(5) {
      width: 20%;
    }

    &:nth-child(6) {
      width: 5%;
    }
  }
}

#tabela-buscar-pessoas {
  th, td {
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 80%;
    }
  }
}

.filtros {
  .well {
    padding: 8px;
    min-height: 50px;

    > div {
      //padding: 0;
      //margin: 4px;
      height: 45px;
    }
  }

  .filtro-sm, .filtro-md, .filtro-lg {
    display: inline-block;
    padding: 4px;
    margin: 4px;
    background-color: $cor-principal;
    border-radius: 6px;
    width: 100%;

    table {
      width: 100%;
      tr td {
        &:last-child {
          width: 30px;
        }
      }
    }

    i {
      color: white;
      margin-top: 4px;
      vertical-align: sub;
    }

    input {
      border-radius: 6px;
      font-size: 1.2em;
      border-color: transparent;
      width: 100%;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filtro-sm {

  }

  .filtro-md {

  }

  .filtro-lg {
    table tr td {
      &:first-child {
        width: 130px;
        padding-right: 4px;
      }

      &:nth-child(2) {
        padding-left: 4px;
      }
    }
  }

  .pedido {
    background-color: #0086b3;
  }

  .vendedor {
    background-color: goldenrod;
  }

  .cliente {
    background-color: #006600;
  }

  .data-inicial {
    background-color: orangered;
  }

  .data-final {
    background-color: #880000;
  }
}

@import 'header';
@import 'footer';
@import 'login';
@import 'home';
@import 'orcamento';
@import 'loading';



