<div class="col-md-12">
  <div class="header">
    <h3>Follow Up</h3>
  </div>
</div>

<div class="col-lg-6">
  <div class="col-md-12">
    <h3>Status</h3>
    <table class="tabela tabela-bordered tabela-esticada" ng-init="len = 15">
      <thead>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Cadastro</th>
        <th>Atualização</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="status in configuracoes.statusAtendimentoArray">
        <td data-label="Cor"><span class="glyphicon"><div class="mostrador-de-cor" ng-style="{backgroundColor:status.cor}"></div></span></td>
        <td data-label="Nome">{{status.nome}}</td>
        <td data-label="Data de cadastro">{{status.dataCadastro | date:'dd/MM/yy'}}</td>
        <td data-label="Última atualização">{{status.dataUpdate ? (status.dataUpdate | date:'dd/MM/yy') : 'Não disponível'}}</td>
        <td class="hidden-xs">
          <a href="" ng-click="configuracoes.editarStatusAtendimento(status)"><span
            class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td class="hidden-xs">
          <a href="" ng-click="configuracoes.excluirStatusAtendimento(status)" ng-if="status.id != '1001' && status.id != '1002'"><span
            class="glyphicon glyphicon-trash"></span></a>
          <span class="glyphicon glyphicon-lock" ng-if="status.id == '1001' || status.id == '1002'"></span>
        </td>
        <td class="visible-xs-block">
          <button class="btn btn-default pull-right" ng-click="configuracoes.editarStatusAtendimento(status)">
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          </button>
          <button class="btn btn-default pull-right" ng-click="configuracoes.excluirStatusAtendimento(status)" ng-if="status.id != '1001' && status.id != '1002'">
            <span class="glyphicon glyphicon-trash"></span>
            Excluir
          </button>
        </td>

      </tr>
      <tr class="hidden-xs" ng-if="configuracoes.statusAtendimentoArray.length < configuracoes.statusAtendimentoPagination.max"
          ng-repeat="n in getNumber(configuracoes.statusAtendimentoPagination.max - configuracoes.statusAtendimentoArray.length < 0 ? 0 : configuracoes.statusAtendimentoPagination.max - configuracoes.statusAtendimentoArray.length) track by $index">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
    <div class="row condensar-rows">
      <br>
      <div class="col-sm-6 col-md-6"></div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-default btn-block" ng-click="configuracoes.atualizarStatusAtendimento()"><span
          class="glyphicon glyphicon-refresh"></span> Atualizar
        </button>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="configuracoes.adicionarStatusAtendimento()"><span
          class="glyphicon glyphicon-plus"></span> Novo
        </button>
      </div>
    </div>
    <div class="paginas">
      <ul uib-pagination total-items="configuracoes.statusAtendimentoPagination.total" ng-model="configuracoes.statusAtendimentoPagination.current" max-size="configuracoes.statusAtendimentoPagination.max" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="col-md-12">
    <h3>Tipo de contato</h3>
    <table class="tabela tabela-bordered tabela-esticada" ng-init="len = 15">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Cadastro</th>
        <th>Atualização</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="tipo in configuracoes.tiposContato">
        <td data-label="Nome">{{tipo.nome}}</td>
        <td data-label="Data de cadastro">{{tipo.dataCadastro | date:'dd/MM/yy'}}</td>
        <td data-label="Última atualização">{{tipo.dataUpdate ? (tipo.dataUpdate | date:'dd/MM/yy') : 'Não disponível'}}</td>
        <td class="hidden-xs">
          <a href="" ng-click="configuracoes.editarTipoContato(tipo)"><span
            class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td class="hidden-xs">
          <a href="" ng-click="configuracoes.excluirCRFollowUp(tipo)"><span
            class="glyphicon glyphicon-trash"></span></a>
        </td>
        <td class="visible-xs-block">
          <button class="btn btn-default pull-right" ng-click="configuracoes.editarTipoContato(tipo)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
          <button class="btn btn-default pull-right" ng-click="configuracoes.excluirTipoContato(tipo)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
        </td>

      </tr>
      <tr class="hidden-xs" ng-if="configuracoes.tiposContato.length < configuracoes.tipoContatoPagination.max"
          ng-repeat="n in getNumber(configuracoes.tipoContatoPagination.max - configuracoes.tiposContato.length < 0 ? 0 : configuracoes.tipoContatoPagination.max - configuracoes.tiposContato.length) track by $index">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
    <div class="row condensar-rows">
      <br>
      <div class="col-sm-6 col-md-6"></div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="configuracoes.atualizarTiposContato()"><span
          class="glyphicon glyphicon-refresh"></span> Atualizar
        </button>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="configuracoes.adicionarTipoContato()"><span
          class="glyphicon glyphicon-plus"></span> Novo
        </button>
      </div>
    </div>
    <div class="paginas">
      <ul uib-pagination total-items="configuracoes.tipoContatoPagination.total" ng-model="configuracoes.tipoContatoPagination.current" max-size="configuracoes.tipoContatoPagination.max" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
    </div>
  </div>
</div>

<!--MODAL STATUS-->
<div class="modal meu-modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="modalStatus">
  <div class="modal-dialog" role="document" style="width: 380px;">
    <div class="modal-content">
      <div class="header">
        <div class="title"><span class="glyphicon glyphicon-pencil"></span> Status <span
          class="glyphicon glyphicon-remove close" ng-click="configuracoes.cancelarModalStatusAtendimento()"></span></div>
      </div>
      <div class="body xs condensar-rows">
        <div class="col-xs-2">
          <h4>Cor</h4>
          <div class="botao-color-picker">
            <div class="mostrador" colorpicker="hex" colorpicker-size="200" ng-model="configuracoes.statusAtendimento.cor" ng-style="{backgroundColor:configuracoes.statusAtendimento.cor}"></div>
          </div>
        </div>
        <div class="col-xs-10">
          <h4>Nome</h4>
          <input type="text" class="form-control" ng-model="configuracoes.statusAtendimento.nome" ng-disabled="configuracoes.statusAtendimento.id == '1001' || configuracoes.statusAtendimento.id == '1002'" keys-shortcuts enter="configuracoes.salvarStatusAtendimento()">
        </div>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" ng-click="configuracoes.cancelarModalStatusAtendimento()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        <button type="button" class="btn btn-default" ng-click="configuracoes.salvarStatusAtendimento()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL-->

<!--MODAL TIPO CONTATO-->
<div class="modal meu-modal fade" id="modalTipoContato" tabindex="-1" role="dialog" aria-labelledby="modalTipoContato">
  <div class="modal-dialog" role="document" style="width: 380px;">
    <div class="modal-content">
      <div class="header">
        <div class="title"><span class="glyphicon glyphicon-pencil"></span> Tipo de Contato <span
          class="glyphicon glyphicon-remove close" ng-click="configuracoes.cancelarModalTipoContato()"></span></div>
      </div>
      <div class="body xs condensar-rows">
        <div class="col-md-12">
          <h4>Nome</h4>
          <input type="text" class="form-control" ng-model="configuracoes.tipoContato.nome" keys-shortcuts enter="configuracoes.salvarTipoContato()">
        </div>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" ng-click="configuracoes.cancelarModalTipoContato()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        <button type="button" class="btn btn-default" ng-click="configuracoes.salvarTipoContato()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL-->
