<!--PERFIS-->
<div class="col-md-12">
  <div class="header">
    <h3>Perfis</h3>
  </div>
</div>
<div class="col-md-3">
  <button class="btn btn-default botao-esticado" ng-click="configuracoes.atualizarPerfis()"><span
    class="glyphicon glyphicon-refresh"></span> Atualizar
  </button>
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
  <button class="btn btn-default botao-esticado" ng-click="configuracoes.adicionarPerfil()"><span
    class="glyphicon glyphicon-plus"></span> Novo Perfil
  </button>
</div>
<div class="col-md-12">
  <table class="tabela tabela-bordered tabela-esticada" ng-init="len = 15">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Cadastro</th>
      <th>Última Atualização</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="perfil in configuracoes.perfis">
      <td>{{perfil.nome}}</td>
      <td>{{perfil.dataCadastro | date}}</td>
      <td>{{perfil.ultimaAtualizacao | date}}</td>
      <td><a href="" ng-click="configuracoes.editarPerfil(perfil)"><span
        class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    <tr ng-if="configuracoes.usuarios.length < len"
        ng-repeat="n in getNumber(len - configuracoes.perfis.length < 0 ? 0 : len - configuracoes.perfis.length) track by $index">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <div class="paginas">
    <ul uib-pagination total-items="600" ng-model="bigCurrentPage" max-size="15" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
  </div>
</div>
<!--FIM PERFIS-->
