<div class="col-md-7 col-lg-6 col-lg-push-1">
  <div class="card">
    <div class="header">
      <h3>Sobre</h3>
    </div>
    <div class="logo"></div>
    <div class="descricao">
      <h4><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp; Crie orçamentos de forma simples e prática.</h4>
      <h4><span class="glyphicon glyphicon-send"></span>&nbsp; Imprima ou envie orçamentos por email.</h4>
      <h4><span class="glyphicon glyphicon-calendar"></span>&nbsp; Controle seus orçamentos visando a pós venda.</h4>
    </div>
  </div>
</div>

<div class="col-md-5 col-lg-4 col-lg-push-1">
  <div class="card">
    <div class="header">
      <h3>Atalhos de teclado</h3>
    </div>
    <span class="comando"><span class="label label-primary">Enter</span> Avançar para próximo campo</span>
    <span class="comando"><span class="label label-primary">Shift</span> + <span
      class="label label-primary">Enter</span> Avançar para próximo módulo</span>
    <span class="comando"><span class="label label-primary">F1</span> Abrir busca</span>
    <span class="comando"><span class="label label-primary">F5</span> Salvar orçamento</span>
    <!--<span class="comando" ng-repeat="n in getNumber(5) track by $index"><span class="label label-primary">comando</span> descrição</span>-->
  </div>
</div>

<div class="col-md-5 col-lg-4 col-lg-push-1">
  <div class="card">
    <div class="header">
      <h3>Versão</h3>
    </div>
    <div class="versao">
      <h1><span class="glyphicon glyphicon-globe"></span></h1>
      <h5><span><a href="http://www.futuraagencia.com.br/" target="_blank">Futura Agência</a> - 2016 - Commercial ver. {{versao}}</span></h5>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-10 col-lg-offset-1">
  <div class="card">
    <div class="header">
      <h3>Futura</h3>
    </div>
    <div class="logo-futura"></div>
    <div class="descricao"><h3>© 2016.  Agência de Boas Ideias</h3></div>
  </div>
</div>
