<!--USUARIOS-->
<div class="col-md-12">
  <div class="header">
    <h3>Usuários</h3>
  </div>
</div>
<div class="col-md-3">
  <button class="btn btn-default botao-esticado" ng-click="configuracoes.atualizarUsuarios()"><span
    class="glyphicon glyphicon-refresh"></span> Atualizar
  </button>
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
  <button class="btn btn-default botao-esticado" ng-click="configuracoes.adicionarUsuario()"><span
    class="glyphicon glyphicon-plus"></span> Novo Usuário
  </button>
</div>
<div class="col-md-12">
  <table class="tabela tabela-bordered tabela-esticada">
    <thead>
    <tr>
      <th>Perfil</th>
      <th>Nome</th>
      <th>Usuário</th>
      <th>Email</th>
      <th>Último Acesso</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="usuario in configuracoes.usuarios">
      <td>{{usuario.perfil.nome}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.usuario}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.ultimoAcesso ? (usuario.ultimoAcesso | date) : 'Não disponível'}}</td>
      <td><a href="" ng-click="configuracoes.editarUsuario(usuario)"><span
        class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    <tr ng-if="configuracoes.usuarios.length < configuracoes.usuariosPagination.max"
        ng-repeat="n in getNumber(configuracoes.usuariosPagination.max - configuracoes.usuarios.length < 0 ? 0 : configuracoes.usuariosPagination.max - configuracoes.usuarios.length) track by $index">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <div class="paginas">
    <ul uib-pagination total-items="configuracoes.usuariosPagination.total" ng-model="configuracoes.usuariosPagination.current" max-size="configuracoes.usuariosPagination.max" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
  </div>
</div>
<!--FIM USUARIOS-->
