<div class="modal meu-modal fade" id="modalAlertaPopup" tabindex="-1" role="dialog" aria-labelledby="modalAlertaPopup">
  <div class="modal-dialog" role="document" style="width: 380px;">
    <div class="modal-content">
      <div class="header">
        <div class="title"><span class="glyphicon glyphicon-info-sign"></span> {{title}} <span
          class="glyphicon glyphicon-remove close" data-dismiss="modal"></span></div>
        </div>
      <div class="body xs">
        <div class="col-md-12" style="font-size: 1.4em">
          {{message}}
        </div>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
      </div>
    </div>
  </div>
</div>
