<div class="banner hidden-xs">
  <div class="header_left"></div>
  <div class="header_right"></div>
</div>

<span ng-controller="HeaderCtrl as header">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#menu-collapse"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav" tabindex="-1">
          <li><a ng-href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a ng-href="#/orcamento/new"><span class="glyphicon glyphicon-shopping-cart"></span> Orçamento</a></li>
          <li><a ng-href="#/follow-up"><span class="glyphicon glyphicon-comment"></span> Follow Up</a></li>
          <li><a ng-href="#/configuracoes"><span class="glyphicon glyphicon-cog"></span> Configurações</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <strong class="hidden-sm">{{header.getCurrentUser().usuario}}</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-sm-4 hidden-xs">
                      <p class="text-center avatar">
                        <span class="glyphicon glyphicon-user icon-size"></span>
                      </p>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-0">
                      <p class="text-left"><strong>{{header.getCurrentUser().nome}}</strong></p>
                      <p class="text-left small">{{header.getCurrentUser().email}}</p>
                      <p class="text-center perfil">{{header.getCurrentUser().perfil}}</p>
                      <p class="text-center loja">{{header.getCurrentUser().loja}}</p>
                      <p class="text-center precos">{{header.getCurrentUser().precos}}</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider navbar-login-session-bg"></li>
              <li class="navbar-login-session-bg">
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                      <p>
                        <a href="" ng-click="header.abrirModalSenha()" class="btn btn-primary btn-block">Redefinir Senha</a>
                      </p>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                      <p>
                        <a href="#/logout" class="btn btn-danger btn-block">Logout</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <!--MODAL NOVA SENHA-->
  <div class="modal meu-modal fade" id="modalSenha" tabindex="-1" role="dialog" aria-labelledby="modalSenha">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="header">
          <div class="title">
            <span class="glyphicon glyphicon-pencil"></span> Nova senha
            <span class="glyphicon glyphicon-remove close" ng-click="header.cancelarModalSenha()"></span>
          </div>
        </div>
        <div class="body sm condensar-rows">
          <div class="col-xs-12">
            <h4>Nova senha</h4>
            <input type="password" class="form-control" ng-model="header.novaSenha">
          </div>
          <div class="col-xs-12">
            <h4>Confirmar senha</h4>
            <input type="password" class="form-control" ng-model="header.novaSenhaConfirm">
          </div>
        </div>
        <div class="footer">
          <button type="button" class="btn btn-default" ng-click="header.cancelarModalSenha()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <button type="button" class="btn btn-default" ng-click="header.salvarModalSenha()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL-->
</span>

