<div class="meu-modal modal-confirm">
  <div class="header">
    <div class="title">
      <span class="glyphicon glyphicon-alert" style="font-size: .8em; vertical-align: 0;"></span> {{title || 'Aviso'}}
      <span class="glyphicon glyphicon-remove close" ng-click="cancel()"></span>
    </div>
  </div>
  <div class="body xs">
    <p style="font-size: 1.2em">{{message}}</p>
  </div>
  <div class="footer">
    <button class="btn btn-default" ng-click="cancel('negative')"><span class="glyphicon glyphicon-remove" ng-hide="hideButtonIcons"></span> {{negative || 'Não'}}</button>
    <button name="positivo" class="btn btn-default" ng-click="ok('positive')"><span class="glyphicon glyphicon-ok" ng-hide="hideButtonIcons"></span> {{positive || 'Sim'}}</button>
  </div>
</div>
