<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-credit-card"></span> Pagamento <span
      class="glyphicon glyphicon-remove close" ng-click="cancel()"></span></div>
  </div>

  <div class="body">

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div><h4>Código</h4></div>
          <!--<div class="input-group">-->
            <input type="text" name="codigo" class="form-control" ng-model="cdModalidade" ng-blur="blurCodigo()"
                   ng-change="buscarModalidadePorCodigo()" ng-model-options='{ debounce: 400 }'
                   number-only aria-describedby="basic-addon2" keys-shortcuts enter="addModalidade()"
                   ng-readonly="restante() <= 0" shift-enter="gravar()">
            <!--<span class="input-group-btn">-->
              <!--<button class="btn btn-default" tabindex="-1" ng-click="buscarModalidadePorCodigo()"><span-->
                <!--class="glyphicon glyphicon-search"></span></button>-->
            <!--</span>-->
          <!--</div>-->
        </div>
        <div class="col-md-9">
          <div><h4>Modalidade</h4></div>
          <input type="text" name="nome" ng-model="nmModalidade" ng-blur="blurNome()" readonly
                 class="form-control">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-12">
          <table class="tabela tabela-bordered" style="width: 100%" id="tabela-pagamento">
            <thead>
            <tr>
              <th>Cód</th>
              <th>Modalidade</th>
              <th>Desc %</th>
              <th>Desc $</th>
              <th>Valor</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="pedido.pagamentos.length == 0">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr ng-repeat="p in pedido.pagamentos track by $index">
              <td>{{p.modalidade.codigo}}</td>
              <td>{{p.modalidade.nome}}</td>
              <td class="editable-elem" editable-elem>
                <span>{{($scope.descontoPercent | currency: '') || '0,00'}}%</span><input currency symbol="''" number-only type="text" ng-model="$scope.descontoPercent" ng-blur="updateDescontoPercent()"></span>
              </td>
              <td class="editable-elem" editable-elem>
                <span>{{p.descontoDinheiro | currency: 'R$' }}</span><input currency symbol="''" number-only type="text" ng-model="p.descontoDinheiro" ng-blur="p.descontoDinheiro < 0.0 || !p.descontoDinheiro ? p.descontoDinheiro = 0.0 : false"></span>
              </td>
              <td>{{p.valor | currency: 'R$'}}</td>
              <td><a href="" ng-click="removePagamento(p)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

  <div class="footer">
    <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-ok"></span> Ok</button>
  </div>

</div>
