<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-envelope"></span> Buscar Endereço <span class="glyphicon glyphicon-remove close" ng-click="cancel()"></span></div>
  </div>

  <div class="body">

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div><h4>CEP</h4></div>
          <div class="input-group">
            <input type="text" class="form-control" name="cdEndereco" aria-describedby="basic-addon2" ng-model="cdEndereco" ui-mask="99999-999" keys-shortcuts enter="buscarPorCEP(cdEndereco)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorCEP(cdEndereco)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-9">
          <div><h4>Logradouro</h4></div>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="logradouro" keys-shortcuts enter="avancar()" placeholder="Ex. Rua Francisco Sá">
            <span class="input-group-addon">em</span>
            <input type="text" name="cidade" class="form-control" ng-model="cidade" keys-shortcuts enter="buscarPorLogradouro(logradouro, cidade)" placeholder="Ex. Rio de Janeiro">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="buscarPorLogradouro(logradouro, cidade)" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="tabela tabela-esticada tabela-bordered tabela-selecionavel">
            <thead>
            <tr>
              <th>CEP</th>
              <th>UF</th>
              <th>Cidade</th>
              <th>Bairro</th>
              <th>Logradouro</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="e in enderecos" ng-click="selecionarEndereco(e)">
                <td>{{e.cep}}</td>
                <td>{{e.uf}}</td>
                <td>{{e.cidade}}</td>
                <td>{{e.bairro}}</td>
                <td>{{e.logradouro}}</td>
              </tr>
              <tr ng-if="enderecos.length < pagination.max" ng-repeat="n in getNumber(enderecos.length < pagination.max ? pagination.max - enderecos.length : 0) track by $index">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--<div class="paginas">-->
      <!--<ul uib-pagination total-items="pagination.total" ng-model="pagination.current" max-size="5" items-per-page="pagination.max" ng-change="pagination.mudarPagina(logradouro, cidade)" class="pagination-sm"class="pagination-sm" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>-->
    <!--</div>-->

  </div>

  <div class="footer">
    <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
  </div>

</div>
