<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Buscar Orçamento <span class="glyphicon glyphicon-remove close" ng-click="cancel()"></span></div>
  </div>

  <div class="body">

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Filtro</h4>
          <select class="form-control" ng-init="opt='pedido'" ng-model="opt">
            <option value="pedido">Pedido (código)</option>
            <option value="vendedor">Vendedor (código ou nome)</option>
            <option value="cliente">Cliente (código ou nome)</option>
            <option value="data">Data (inicial / final)</option>
          </select>
        </div>

        <div class="col-md-3" ng-show="opt == 'pedido'">
          <h4>Código</h4>
          <input type="number" class="form-control" name="cdPedido" aria-describedby="basic-addon2" ng-model="cdPedido" press-enter="buscarPorCodigoPedido(cdPedido)">
        </div>
        <div class="col-md-3" ng-show="opt == 'pedido'">
          <h4>&nbsp;</h4>
          <button class="btn btn-default"  ng-click="buscarPorCodigoPedido(cdPedido)"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </div>

        <div class="col-md-3" ng-show="opt == 'vendedor'">
          <h4>Código</h4>
          <div class="input-group">
            <input type="number" class="form-control" name="cdVendedor" aria-describedby="basic-addon2" ng-model="cdVendedor" press-enter="buscarPorCodigoVendedor(cdVendedor)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorCodigoVendedor(cdVendedor)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-6" ng-show="opt == 'vendedor'">
          <h4>Nome</h4>
          <div class="input-group">
            <input type="text" class="form-control" name="nmVendedor" aria-describedby="basic-addon2" ng-model="nmVendedor" press-enter="buscarPorNomeVendedor(nmVendedor)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorNomeVendedor(nmVendedor)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>

        <div class="col-md-3" ng-show="opt == 'cliente'">
          <h4>Código</h4>
          <div class="input-group">
            <input type="number" class="form-control" name="cdCliente" aria-describedby="basic-addon2" ng-model="cdCliente" press-enter="buscarPorCodigoCliente(cdCliente)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorCodigoCliente(cdCliente)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-6" ng-show="opt == 'cliente'">
          <h4>Nome</h4>
          <div class="input-group">
            <input type="text" class="form-control" name="nmCliente" aria-describedby="basic-addon2" ng-model="nmCliente" press-enter="buscarPorNomeCliente(nmCliente)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorNomeCliente(nmCliente)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>

        <div class="col-md-3" ng-show="opt == 'data'">
          <h4>Inicial</h4>
          <input type="text" class="form-control" name="dtInicial" aria-describedby="basic-addon2" ng-model="dtInicial" press-enter="" ui-mask="99/99/9999" model-view-value="true">
        </div>
        <div class="col-md-3" ng-show="opt == 'data'">
          <h4>Final</h4>
          <input type="text" class="form-control" name="dtFinal" aria-describedby="basic-addon2" ng-model="dtFinal" press-enter="" ui-mask="99/99/9999" model-view-value="true">
        </div>
        <div class="col-md-3" ng-show="opt == 'data'">
          <h4>&nbsp;</h4>
          <button class="btn btn-default" ng-click="buscarPorData(dtInicial, dtFinal)"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="tabela tabela-bordered tabela-selecionavel" style="width: 100%">
            <thead>
            <tr>
              <th>Cód</th>
              <th>Vendedor</th>
              <th>Cliente</th>
              <th>Data</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in pedidos" ng-click="selecionarPedido(p)">
              <td>{{p.codigo}}</td>
              <td>{{p.vendedor.nome}}</td>
              <td>{{p.cliente.nome}}</td>
              <td>{{p.dataPedido | date: 'dd/MM/yyyy'}}</td>
              <td>{{p.valorComDesconto | currency: 'R$ '}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
  </div>

</div>
