<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-user"></span> Buscar Pessoa <span class="glyphicon glyphicon-remove close" ng-click="cancel()"></span></div>
  </div>

  <div class="body md">

    <div class="container condensar-rows">
      <div class="row">
        <div class="col-md-4">
          <div><h4>Código</h4></div>
          <div class="input-group">
            <input type="number" class="form-control" name="cdPessoa" aria-describedby="basic-addon2" ng-model="cdPessoa" keys-shortcuts enter="buscarPorCodigo(cdPessoa)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorCodigo(cdPessoa)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-8">
          <div><h4>Nome</h4></div>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="nmPessoa" keys-shortcuts enter="buscarPorNome(nmPessoa)">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="buscarPorNome(nmPessoa)"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="tabela tabela-bordered tabela-esticada tabela-selecionavel">
            <thead>
              <tr>
                <th>Cód</th>
                <th>Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in pessoas" ng-click="selecionarPessoa(p)">
                <td data-label="Código">{{p.codigo}}</td>
                <td data-label="Nome">{{p.nome}}</td>
              </tr>
              <tr class="hidden-xs" ng-if="pessoas.length < pagination.max" ng-repeat="n in getNumber(pessoas.length < pagination.max ? pagination.max - pessoas.length : 0) track by $index">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="paginas">
      <ul uib-pagination total-items="pagination.total" ng-model="pagination.current" max-size="pagination.max" ng-change="pagination.mudarPagina(nmPessoa)" class="pagination-sm"class="pagination-sm" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
    </div>

  </div>

  <div class="footer">
    <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
  </div>

</div>
