<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-user"></span> Perfil <span
      class="glyphicon glyphicon-remove close" ng-click="cancel()"></span></div>
  </div>

  <div class="body sm condensar-rows">

    <div class="col-md-6">
      <h4>Nome</h4>
      <input type="text" class="form-control" ng-model="modal.perfil.nome">
    </div>
    <div class="col-md-6">
      <h4>Data de Cadastro</h4>
      <input type="text" class="form-control text-center" readonly="true" ng-value="modal.perfil.dataCadastro | date">
    </div>

    <div class="col-md-12" style="padding: 0">
      <uib-accordion close-others="false">
        <div class="col-md-12">
          <div uib-accordion-group class="panel-default" heading="{{modulo.nome}}"
               ng-repeat="modulo in modal.perfil.permissoes">
            <div ng-repeat="(key, value) in modulo.permissoes">
              <div class="col-md-6" ng-if="value.tipo === 'percent'">
                <label>{{value.nome}}</label>

                <div class="input-group">
                  <input type="text" class="form-control text-right" currency symbol="" number-only ng-model="value.valor">
                  <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="col-md-6" ng-if="value.tipo === 'bool'">
                <label><input type="checkbox" ng-model="value.valor"> {{value.nome}}</label>
              </div>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>

  </div>

  <div class="footer">
    <button class="btn btn-default botao-esticado botao-principal" ng-click="cancel()"><span
      class="glyphicon glyphicon-remove"></span> Fechar
    </button>
    <!--<button class="btn btn-default botao-esticado botao-principal" ng-click="excluir()"><span-->
    <!--class="glyphicon glyphicon-trash"></span> Excluir-->
    <!--</button>-->
    <button class="btn btn-default botao-esticado botao-principal" ng-click="salvar()"><span
      class="glyphicon glyphicon-floppy-save"></span> Salvar
    </button>
  </div>
</div>
