<div class="atendimento container">


  <div class="row card" ng-if="atendimento.codigosArray">
    <div class="col-xs-12">
      <div class="head" ng-click="formularios.info = !formularios.info; scrollTo($event)">
        <h3>
          <span class="glyphicon glyphicon-list-alt"></span>
          Criação de Atendimentos em Lote
          <span class="glyphicon" ng-class="{true:'glyphicon-menu-up', false: 'glyphicon-menu-down'}[formularios.info]"></span>
        </h3>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.info">
      <div class="row">
        <div class="col-md-6">
          <h4>Dados dos Atendimentos</h4>
          <div class="orcamentos well">
            <dl class="dl-horizontal">
              <dt>Criado por:</dt>
              <dd>{{atendimento.atendimento.usuario.usuario}} ({{atendimento.atendimento.usuario.nome}})</dd>
              <dt>Criado em:</dt>
              <dd>{{atendimento.atendimento.dataCadastro | date:'short'}}</dd>
              <dt>Status:</dt>
              <dd><span class="label label-default" ng-style="{backgroundColor:atendimento.statusArray[0].cor}">{{atendimento.statusArray[0].nome}}</span></dd>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Dados dos Orçamentos</h4>
          <div class="orcamentos well">
            <dl class="dl-horizontal">
              <dt>Total de Orçamentos:</dt>
              <dd>{{atendimento.codigosArray.length}} orçamento<span ng-if="atendimento.codigosArray.length > 1">s</span></dd>
              <dt>Total de Clientes:</dt>
              <dd>{{atendimento.clientes}} cliente<span ng-if="atendimento.clientes > 1">s</span></dd>
              <dt>Total de Vendedores</dt>
              <dd>{{atendimento.vendedores}} vendedor<span ng-if="atendimento.vendedores > 1">es</span></dd>
              <dt>Mais antigo:</dt>
              <dd>{{atendimento.min}}</dd>
              <dt>Mais recente:</dt>
              <dd>{{atendimento.max}}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <h4>Pessoa de Contato</h4>
              <input type="text" class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.pessoaDeContato">
            </div>
            <div class="col-xs-4">
              <h4>Tipo de Contato</h4>
              <select class="form-control" ng-options="tipo.id as tipo.nome for tipo in atendimento.tiposContato" ng-model="novoParecer.contatoId" ng-disabled="atendimento.atendimento.isEncerrado()">
                <option value="" disabled>Selecione um tipo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <h4>Texto</h4>
          <div class="parecer well">
            <textarea class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.texto"></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row card" ng-if="!atendimento.codigosArray">
    <div class="col-xs-12">
      <div class="head" ng-click="formularios.info = !formularios.info; scrollTo($event)">
        <h3>
          <span class="glyphicon glyphicon-list-alt"></span>
          <span ng-if="!atendimento.atendimento.historico.length">Novo </span>
          Atendimento
          <span ng-if="atendimento.atendimento.codigo"> código ({{atendimento.atendimento.codigo}})</span>
          <span class="hidden-xs" ng-if="atendimento.atendimento.historico.length"> - {{atendimento.atendimento.historico[0].status.nome}}</span>
          <span class="glyphicon" ng-class="{true:'glyphicon-menu-up', false: 'glyphicon-menu-down'}[formularios.info]"></span>
        </h3>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.info">
      <div class="row">
        <div class="col-md-6">
          <h4>Dados do Atendimento</h4>
          <div class="info well">
            <dl class="dl-horizontal">
              <dt>Código:</dt>
              <dd>{{atendimento.atendimento.codigo ? atendimento.atendimento.codigo : 'Não disponível'}}</dd>
              <dt>Status:</dt>
              <dd><span class="label label-default" ng-style="{backgroundColor:atendimento.atendimento.historico[0].status.cor}">{{atendimento.atendimento.historico.length ? atendimento.atendimento.historico[0].status.nome : 'Não disponível'}}</span></dd>
              <dt>Criado por:</dt>
              <dd>{{atendimento.atendimento.usuario.usuario}} ({{atendimento.atendimento.usuario.nome}})</dd>
              <dt>Criado em:</dt>
              <dd>{{atendimento.atendimento.dataCadastro | date:'short'}}</dd>
              <dt>Atualizado em:</dt>
              <dd>{{atendimento.atendimento.dataUpdate ? (atendimento.atendimento.dataUpdate | date:'short') : 'Não disponível'}}</dd>
              <dt>Próximo contato:</dt>
              <dd>{{atendimento.atendimento.historico.length ? (atendimento.atendimento.historico[0].proximoContato | date:'dd/MM/yyyy') : 'Não disponível'}}</dd>
              <dt>Pareceres:</dt>
              <dd>{{atendimento.atendimento.parecer.length ? atendimento.atendimento.parecer.length : 'Nenhum'}} parecer{{atendimento.atendimento.parecer.length > 1 ? 'es' : ''}}</dd>
              <dt>Último parecer em:</dt>
              <dd>{{atendimento.atendimento.parecer.length ? (atendimento.atendimento.parecer[0].dataCadastro | date: 'short') : 'Não disponível'}}</dd>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Dados do Orçamento</h4>
          <div class="cliente well">
            <dl class="dl-horizontal">
              <dt>Código:</dt>
              <dd>{{atendimento.atendimento.pedido.codigo || 'Não disponível'}}</dd>
              <dt>Cliente:</dt>
              <dd>
                ({{atendimento.atendimento.pedido.cliente.codigo}})
                {{atendimento.atendimento.pedido.cliente.nome}}<br>
                Telefone: {{atendimento.atendimento.pedido.cliente.telefone || 'Não disponível'}} /
                Celular: {{atendimento.atendimento.pedido.cliente.celular ? atendimento.atendimento.pedido.cliente.dddCelular : ''}} {{atendimento.atendimento.pedido.cliente.celular || 'Não disponível'}} /
                Email: {{atendimento.atendimento.pedido.cliente.email || 'Não disponível'}}<br>
              </dd>
              <dt>Vendedor:</dt>
              <dd>{{atendimento.atendimento.pedido.vendedor.nome || 'Não disponível'}}</dd>
              <dt>Valor Total:</dt>
              <dd>{{atendimento.atendimento.pedido.valor | currency: 'R$ '}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br ng-if="!atendimento.codigosArray">

  <div class="row card" ng-if="!atendimento.codigosArray">
    <div class="col-xs-12">
      <div class="head" ng-click="formularios.parecer = !formularios.parecer; scrollTo($event)">
        <h3>
          <span class="glyphicon glyphicon-file"></span>
          Novo Parecer
          <span class="glyphicon" ng-class="{true:'glyphicon-menu-up', false: 'glyphicon-menu-down'}[formularios.parecer]"></span>
        </h3>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.parecer">
      <div class="row">
        <div class="col-xs-8">
          <h4>Pessoa de Contato</h4>
          <input type="text" class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.pessoaDeContato">
        </div>
        <div class="col-xs-4">
          <h4>Tipo de Contato</h4>
          <select class="form-control" ng-options="tipo.id as tipo.nome for tipo in atendimento.tiposContato" ng-model="novoParecer.contatoId" ng-disabled="atendimento.atendimento.isEncerrado()">
            <option value="" disabled>Selecione um tipo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.parecer">
      <h4>Texto</h4>
      <div class="parecer well">
        <textarea class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.texto"></textarea>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-md-push-6" uib-collapse="!formularios.parecer">
      <button class="btn btn-default btn-block btn-lg" ng-click="atendimento.limparParecer()" ng-disabled="atendimento.atendimento.isEncerrado()">
        <span class="glyphicon glyphicon-erase"></span>
        Limpar
      </button>
    </div>
    <div class="col-xs-6 col-md-3 col-md-push-6" uib-collapse="!formularios.parecer">
      <button class="btn btn-default btn-block btn-lg" ng-click="atendimento.salvarParecer()" ng-disabled="atendimento.atendimento.isEncerrado()">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Salvar
      </button>
    </div>
  </div>

  <br ng-if="!atendimento.codigosArray">

  <div class="row card" ng-if="!atendimento.codigosArray">
    <div class="col-xs-12">
      <div class="head" ng-click="formularios.historico = !formularios.historico; scrollTo($event)">
        <h3>
          <span class="glyphicon glyphicon-time"></span>
          Histórico
          <span class="glyphicon" ng-class="{true:'glyphicon-menu-up', false: 'glyphicon-menu-down'}[formularios.historico]"></span>
        </h3>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.historico">
      <!--<h3>Histórico</h3>-->
      <br>
      <uib-accordion close-others="true" class="historico">
        <ul class="list-group well">
          <li uib-accordion-group class="panel-default" ng-repeat="parecer in atendimento.atendimento.parecer">
            <uib-accordion-heading>
              <span class="glyphicon glyphicon-menu-right"></span>
              <b>Criado por:</b> {{parecer.usuario.usuario}} <b>em:</b> {{parecer.dataCadastro | date:'short'}}
            </uib-accordion-heading>
            <b>Pessoa de Contato:</b><br>
            {{parecer.pessoaDeContato || 'Não disponível'}}<br>
            <b>Tipo de Contato</b><br>
            {{parecer.contato.nome}}<br>
            <b>Parecer:</b><br>
            {{parecer.texto | truncate: 200 | stripTags}}<br><br>
            <button class="btn btn-primary" ng-click="atendimento.abrirParecer(parecer)"><span class="glyphicon glyphicon-new-window"></span> Ver mais</button>
          </li>
        </ul>
      </uib-accordion>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a class="btn btn-orcamento" ng-href="#/follow-up{{atendimento.codigosArray ? '/orcamentos' : ''}}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
      </a>
    </div>
    <div class="col-sm-6 col-md-3 col-md-push-6" ng-if="!atendimento.codigosArray">
      <button class="btn btn-orcamento" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.encerrarAtendimento()">
        <span class="glyphicon glyphicon-save"></span>
        Encerrar
      </button>
    </div>
    <div class="col-sm-6 col-md-3 col-md-push-6" ng-if="atendimento.codigosArray">
      <button class="btn btn-orcamento" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.salvarParecer()">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Salvar
      </button>
    </div>
  </div>

  <!--MODAL HISTORICO-->
  <div class="modal meu-modal fade" id="modal-historico" tabindex="-1" role="dialog" aria-labelledby="modal-historico">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <div class="title"><span class="glyphicon glyphicon-info-sign"></span> Status <span
            class="glyphicon glyphicon-remove close" data-dismiss="modal"></span></div>
        </div>
        <div class="body">

          <div class="container">
            <div class="row status">
              <div class="col-xs-12 col-md-12">
                <h4 ng-init="aberto = false">Próximo Contato</h4>
                <div class="well well-sm clearfix" uib-datepicker-popup="dd/MM/yyyy" show-button-bar="false" popup-placement="bottom-right" ng-model="novoHistorico.proximoContato" is-open="aberto" datepicker-options="atendimento.dateOptions" ng-required="true" clear-text="Limpar" current-text="Hoje" close-text="Fechar">
                  <b>Data:</b> {{novoHistorico.proximoContato | date:'fullDate'}}
                  <button type="button" class="btn btn-default pull-right botao-calendario" ng-click="aberto = !aberto" ng-disabled="atendimento.atendimento.isEncerrado()"><i class="caret"></i></button>
                </div>
              </div>
              <div class="col-xs-6">
                <h4>Status</h4>
                <select class="form-control" ng-options="status.id as status.nome for status in atendimento.statusArray | filter:mostraStatus" ng-model="novoHistorico.statusId" ng-disabled="atendimento.atendimento.isEncerrado()"></select>
              </div>
              <div class="col-xs-6 col-md-6">
                <h4>Responsável</h4>
                <select class="form-control" ng-options="usuario.id as usuario.usuario for usuario in atendimento.usuarios" ng-model="novoHistorico.responsavelId" ng-disabled="atendimento.atendimento.isEncerrado()"></select>
              </div>
              <div class="col-md-12">
                <h4>Spy</h4>
                <ui-select multiple tagging="atendimento.emailExterno" limit="10" sortable="true" search-enabled="atendimento.emails.length < 10" ng-model="atendimento.emails" ng-disabled="atendimento.atendimento.isEncerrado()">
                  <ui-select-match placeholder="Informe os emails">{{$item.nome}} &lt;{{$item.email}}&gt;</ui-select-match>
                  <ui-select-choices repeat="usuario in atendimento.contatos | filter: {nome: $select.search, email: $select.search}">
                    <div ng-if="!usuario.isTag" ng-bind-html="''+usuario.nome | highlight: $select.search">
                      <small>
                        nome: {{usuario.nome}}
                        email: <span ng-bind-html="''+usuario.email | highlight: $select.search"></span>
                      </small>
                    </div>
                    <div ng-if="usuario.isTag" ng-bind-html="(usuario.email | highlight: $select.search) +' (externo)'"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

        </div>
        <div class="footer">
          <button class="btn btn-default" ng-disabled="atendimento.atendimento.isEncerrado()" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
            Cancelar
          </button>
          <button class="btn btn-default" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.salvar()">
            <span class="glyphicon glyphicon-ok"></span>
            Salvar
          </button>
          <!--<button class="btn btn-default" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.salvar('encerrar')">-->
            <!--<span class="glyphicon glyphicon-save"></span>-->
            <!--Encerrar-->
          <!--</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL HISTORICO-->

  <!--MODAL PARECER COMPLETO-->
  <div class="modal meu-modal fade" id="modal-parecer-completo" tabindex="-1" role="dialog" aria-labelledby="modal-parecer-completo">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <div class="title"><span class="glyphicon glyphicon-ok-circle"></span> Parecer <span
            class="glyphicon glyphicon-remove close" data-dismiss="modal"></span></div>
        </div>
        <div class="body">

          <div class="container-fluid">
            <div class="row condensar-rows">
              <div class="col-xs-12">
                <div class="parecer">
                  <div class="well" ng-bind-html="parecerCompleto.texto"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL PARECER COMPLETO-->

  <!--MODAL PARECER FINAL-->
  <div class="modal meu-modal fade" id="modal-parecer-final" tabindex="-1" role="dialog" aria-labelledby="modal-parecer-final">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <div class="title"><span class="glyphicon glyphicon-ok-circle"></span> Parecer <span
            class="glyphicon glyphicon-remove close" data-dismiss="modal"></span></div>
        </div>
        <div class="body sm">

          <div class="container-fluid">
            <div class="row condensar-rows">
              <div class="col-xs-12">
                <div class="parecer">
                  <textarea class="form-control" ng-model="novoParecer.texto"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <button type="button" class="btn btn-default" ng-click="atendimento.salvar('encerrar')" data-dismiss="modal"><span class="glyphicon glyphicon-save"></span> Encerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM MODAL PARECER FINAL-->

  <!--<br>-->
  <!--ORIGINAL-->
  <div class="row card" ng-if="false">

    <div class="col-md-12">
      <div class="head">
        <h3>
          <span class="glyphicon glyphicon-list-alt"></span>
          <span ng-if="!atendimento.atendimento.historico.length">Novo </span>
          Atendimento
          <span ng-if="atendimento.atendimento.codigo"> código ({{atendimento.atendimento.codigo}})</span>
          <span class="hidden-xs" ng-if="atendimento.atendimento.historico.length"> - {{atendimento.atendimento.historico[0].status.nome}}</span>
        </h3>
      </div>
    </div>

    <!--LADO ESQUERDO-->
    <div class="col-md-7">

      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<a href="#/follow-up" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span> Follow Up</a>-->
        <!--</div>-->
      <!--</div>-->

      <div class="row">
        <div class="col-md-12">
          <h3>Cliente</h3>
          <div class="cliente well">
            <dl class="dl-horizontal">
              <dt>Código:</dt>
              <dd>{{atendimento.atendimento.pedido.cliente.codigo}}</dd>
              <dt>Nome:</dt>
              <dd>{{atendimento.atendimento.pedido.cliente.nome}}</dd>
              <dt>Telefone:</dt>
              <dd>{{atendimento.atendimento.pedido.cliente.telefone || 'Não disponível'}}</dd>
              <dt>Celular:</dt>
              <dd>{{atendimento.atendimento.pedido.cliente.celular ? atendimento.atendimento.pedido.cliente.dddCelular : ''}} {{atendimento.atendimento.pedido.cliente.celular || 'Não disponível'}}</dd>
              <dt>Email</dt>
              <dd>{{atendimento.atendimento.pedido.cliente.email || 'Não disponível'}}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Atendimento</h3>
          <div class="info well">
            <dl class="dl-horizontal">
              <dt>Código:</dt>
              <dd>{{atendimento.atendimento.codigo ? atendimento.atendimento.codigo : 'Não disponível'}}</dd>
              <dt>Status:</dt>
              <dd><span class="label label-default" ng-style="{backgroundColor:atendimento.atendimento.historico[0].status.cor}">{{atendimento.atendimento.historico.length ? atendimento.atendimento.historico[0].status.nome : 'Não disponível'}}</span></dd>
              <dt>Criado por:</dt>
              <dd>{{atendimento.atendimento.usuario.usuario}} ({{atendimento.atendimento.usuario.nome}})</dd>
              <dt>Criado em:</dt>
              <dd>{{atendimento.atendimento.dataCadastro | date:'short'}}</dd>
              <dt>Atualizado em:</dt>
              <dd>{{atendimento.atendimento.dataUpdate ? (atendimento.atendimento.dataUpdate | date:'short') : 'Não disponível'}}</dd>
              <dt>Orçamento:</dt>
              <dd>{{atendimento.atendimento.pedido.codigo}}</dd>
              <dt>Pareceres:</dt>
              <dd>{{atendimento.atendimento.parecer.length ? atendimento.atendimento.parecer.length : 'Nenhum'}} parecer{{atendimento.atendimento.parecer.length > 1 ? 'es' : ''}}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Histórico</h3>
          <uib-accordion close-others="true" class="historico">
            <ul class="list-group well">
              <li uib-accordion-group class="panel-default" ng-repeat="parecer in atendimento.atendimento.parecer">
                <uib-accordion-heading>
                  <span class="glyphicon glyphicon-menu-right"></span>
                  <b>Criado por:</b> {{parecer.usuario.usuario}} <b>em:</b> {{parecer.dataCadastro | date:'short'}}
                </uib-accordion-heading>
                <b>Parecer:</b><br>
                {{parecer.texto}}<br>
                <b>Pessoa de Contato:</b><br>
                {{parecer.pessoaDeContato || 'Não disponível'}}<br>
                <b>Tipo de Contato</b><br>
                {{parecer.contato.nome}}
              </li>
            </ul>
          </uib-accordion>

        </div>
      </div>

    </div>

    <!--LADO DIREITO-->
    <div class="col-md-5">

      <div class="row">
        <div class="col-md-12">
          <h3>Parecer</h3>
          <!--<a href="" class="pull-right" style="margin-top: 30px;">-->
            <!--<span class="glyphicon glyphicon-erase"></span>-->
            <!--Limpar-->
          <!--</a>-->
          <div class="parecer well">
            <textarea class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.texto"></textarea>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <h4 class="hidden-md">Pessoa de contato</h4>
                <h4 class="visible-md-block">Pessoa</h4>
                <input type="text" class="form-control" ng-disabled="atendimento.atendimento.isEncerrado()" ng-model="novoParecer.pessoaDeContato">
              </div>
              <div class="col-xs-6 col-md-6">
                <h4>Tipo de contato</h4>
                <select class="form-control" ng-options="tipo.id as tipo.nome for tipo in atendimento.tiposContato" ng-model="novoParecer.contatoId" ng-disabled="atendimento.atendimento.isEncerrado()"></select>
              </div>
              <div class="col-xs-6 col-md-6">
                <h4>&nbsp;</h4>
                <button class="btn btn-default btn-block" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.limparParecer()">
                  <span class="glyphicon glyphicon-erase"></span>
                  Limpar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row status">
        <div class="col-xs-6 col-md-6">
          <h4>Status</h4>
          <select class="form-control" ng-options="status.id as status.nome for status in atendimento.statusArray" ng-model="novoHistorico.statusId" ng-disabled="atendimento.atendimento.isEncerrado()"></select>
        </div>
        <div class="col-xs-6 col-md-6">
          <h4>Responsável</h4>
          <select class="form-control" ng-options="usuario.id as usuario.usuario for usuario in atendimento.usuarios" ng-model="novoHistorico.responsavelId" ng-disabled="atendimento.atendimento.isEncerrado()"></select>
        </div>
        <div class="col-xs-12 col-md-12">
          <h4>Próximo Contato</h4>
          <div class="well well-sm clearfix" uib-datepicker-popup popup-placement="top-right" ng-model="novoHistorico.proximoContato" is-open="aberto" datepicker-options="atendimento.dateOptions" ng-required="true" clear-text="Limpar" current-text="Hoje" close-text="Fechar">
            <b>Data:</b> {{novoHistorico.proximoContato | date:'fullDate'}}
            <button type="button" class="btn btn-default pull-right botao-calendario" ng-click="aberto = true" ng-disabled="atendimento.atendimento.isEncerrado()"><i class="caret"></i></button>
          </div>
        </div>
        <div class="col-md-12">
          <h4>Spy</h4>
          <ui-select multiple tagging="atendimento.emailExterno" limit="10" sortable="true" search-enabled="atendimento.emails.length < 10" ng-model="atendimento.emails" ng-disabled="atendimento.atendimento.isEncerrado()">
            <ui-select-match placeholder="Informe os emails">{{$item.nome}} &lt;{{$item.email}}&gt;</ui-select-match>
            <ui-select-choices repeat="usuario in atendimento.contatos | filter: {nome: $select.search, email: $select.search}">
              <div ng-if="!usuario.isTag" ng-bind-html="''+usuario.nome | highlight: $select.search">
                <small>
                  nome: {{usuario.nome}}
                  email: <span ng-bind-html="''+usuario.email | highlight: $select.search"></span>
                </small>
              </div>
              <div ng-if="usuario.isTag" ng-bind-html="(usuario.email | highlight: $select.search) +' (externo)'"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <br>
      <br>
      <div class="row botoes-parecer">
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-danger btn-lg btn-block" ng-disabled="atendimento.atendimento.isEncerrado()">
            <span class="glyphicon glyphicon-save"></span>
            Finalizar
          </button>
        </div>
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-success btn-lg btn-block" ng-disabled="atendimento.atendimento.isEncerrado()" ng-click="atendimento.salvar()">
            <span class="glyphicon glyphicon-ok"></span>
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
