<div class="configuracoes">
  <div class="container">
    <div class="row" ng-init="controle='usuarios'">

      <div class="col-xs-12 visible-xs-inline">
        <br>
        <div class="dropdown" ng-init="label='Usuários'">
          <button class="btn btn-default botao-esticado dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{label}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="" ng-click="controle = 'usuarios'; label = 'Usuários'"><span class="glyphicon glyphicon-ok" ng-show="controle==='usuarios'"></span>&nbsp; Usuários</a></li>
            <li><a href="" ng-click="controle = 'perfis'; label = 'Perfis'"><span class="glyphicon glyphicon-ok" ng-show="controle==='perfis'"></span>&nbsp; Perfis</a></li>
            <li><a href="" ng-click="controle = 'follow-up'; label = 'Follow Up'"><span class="glyphicon glyphicon-comment" ng-show="controle==='follow-up'"></span>&nbsp; Follow Up</a></li>
            <li><a href="" ng-click="controle = 'sobre'; label = 'Sobre'"><span class="glyphicon glyphicon-ok" ng-show="controle==='sobre'"></span>&nbsp; Sobre</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-1 hidden-xs hidden-sm controle">
        <!--<div class="botao" ng-click="controle='dashboard'" ng-class="{ 'ativo': controle === 'dashboard'}">-->
        <!--<p class="centerX centerY">-->
        <!--<span class="glyphicon glyphicon-dashboard"></span>-->
        <!--Dashboard-->
        <!--</p>-->
        <!--</div>-->
        <div class="botao" ng-click="controle='usuarios'" ng-class="{ 'ativo': controle === 'usuarios'}">
          <p class="centerX centerY">
            <span class="glyphicon glyphicon-user"></span>
            Usuários
          </p>
        </div>
        <div class="botao" ng-click="controle='perfis'" ng-class="{ 'ativo': controle === 'perfis'}">
          <p class="centerX centerY">
            <span class="glyphicon glyphicon-tag"></span>
            Perfis
          </p>
        </div>
        <div class="botao" ng-click="controle='follow-up'" ng-class="{ 'ativo': controle === 'follow-up'}">
          <p class="centerX centerY">
            <span class="glyphicon glyphicon-comment"></span>
            Follow Up
          </p>
        </div>
        <div class="botao" ng-click="controle='sobre'" ng-class="{ 'ativo': controle === 'sobre'}">
          <p class="centerX centerY">
            <span class="glyphicon glyphicon-question-sign"></span>
            Sobre
          </p>
        </div>
      </div>


      <div class="col-md-offset-1 col-md-9 dashboard fill">

        <div class="container card fill" ng-if="controle==='usuarios'" ng-include="'partials/dashboard/usuarios.html'"></div>
        <div class="container card fill" ng-if="controle==='perfis'" ng-include="'partials/dashboard/perfis.html'"></div>
        <div class="container card fill" ng-if="controle==='follow-up'" ng-include="'partials/dashboard/follow-up.html'"></div>
        <div ng-include="'partials/dashboard/sobre.html'" ng-if="controle==='sobre'"></div>

      </div>

      <!--<div class="hidden-xs col-md-1 logs">-->
        <!--<div class="col-md-12 log">-->
          <!--<div class="card" style="width: 100%">-->
            <!--<ds-widget-clock></ds-widget-clock>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12 log" ng-repeat="n in getNumber(15) track by $index">-->
          <!--<div class="card">-->
            <!--<h5>Log</h5>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
