<div class="follow-up container">

  <div class="row card">
    <div class="col-md-12">
      <div class="head">
        <h3><span class="glyphicon glyphicon-comment"></span> Follow Up</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-default botao-esticado"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-default botao-esticado" data-toggle="modal" data-target="#modalFiltros"><span class="glyphicon glyphicon-search"></span> Filtrar</button>
      </div>

      <div class="col-md-3">
        <a href="#/atendimento" class="btn btn-default botao-esticado"><span class="glyphicon glyphicon-plus"></span> Adicionar</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-default botao-esticado"><span class="glyphicon glyphicon-plus"></span> Adicionar em lote</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Atendimentos</h3>
      </div>
      <div class="col-md-12">
        <table class="tabela tabela-bordered tabela-esticada">
          <thead>
          <tr>
            <th></th>
            <th>Código</th>
            <th>Orçamento</th>
            <th>Cliente</th>
            <th>Responsável</th>
            <th>Atualização</th>
            <th>Último Parecer</th>
            <th>Cadastro</th>
            <!--<th></th>-->
            <!--<th></th>-->
            <!--<th></th>-->
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="a in followUp.atendimentos">
            <td class="hidden-xs"><span class="glyphicon"><div class="mostrador-de-cor" ng-style="{backgroundColor:a.historico[0].status.cor}"></div></span></td>
            <td class="visible-xs-block" data-label="Status">{{a.historico[0].status.nome}}</td>
            <td data-label="Código">{{a.codigo}}</td>
            <td data-label="Código do orçamento">{{a.pedido.codigo}}</td>
            <td data-label="Cliente">{{a.pedido.cliente.nome | truncate:35}}</td>
            <td data-label="Responsável">{{a.historico[0].responsavel.usuario}}</td>
            <td data-label="Data de atualização">{{a.dataUpdate ? (a.dataUpdate | date:'short') : 'Não disponível'}}</td>
            <td data-label="Data do último parecer">{{a.parecer[0].dataCadastro | date:'short'}}</td>
            <td data-label="Data de cadastro">{{a.dataCadastro | date:'short'}}</td>
            <!--<td class="hidden-xs"><a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>-->
            <!--<td class="hidden-xs"><a href=""><span class="glyphicon glyphicon-plus-sign"></span></a></td>-->
            <!--<td class="hidden-xs"><a href=""><span class="glyphicon glyphicon-time"></span></a></td>-->
            <td class="hidden-xs"><a ng-href="#/atendimento/open?type=attendance&code={{a.codigo}}"><span class="glyphicon glyphicon-open-file"></span></a></td>
          </tr>
          <tr class="hidden-xs" ng-repeat="n in getNumber(followUp.pagination.max - followUp.atendimentos.length) track by $index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<!--MODAL FILTROS-->
<div class="modal meu-modal fade" id="modalFiltros" tabindex="-1" role="dialog" aria-labelledby="modalFiltros">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="header">
        <div class="title"><span class="glyphicon glyphicon-pencil"></span> Tipo <span
          class="glyphicon glyphicon-remove close" ng-click="configuracoes.cancelarModalTipoFollowUp()"></span></div>
      </div>
      <div class="body condensar-rows">

        <div class="col-md-2">
          <h4>Atendimento</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="cdPedido" placeholder="código" keys-shortcuts enter="buscar()">
            <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="cdPedido=''"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Orçamento</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="cdPedido" placeholder="código" keys-shortcuts enter="buscar()">
            <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="cdPedido=''"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Cliente</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-value="cliente.codigo + (cliente.codigo?' - ':'') + cliente.nome" placeholder="Clique na lupa para buscar um cliente" readonly="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="removeCliente()"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="buscarCliente()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Responsável</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-value="cliente.codigo + (cliente.codigo?' - ':'') + cliente.nome" placeholder="Clique na lupa para buscar um cliente" readonly="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="removeCliente()"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="buscarCliente()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 campo-duplo">
          <h4>Data de Cadastro (inicial x final)</h4>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtInicial" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtInicial=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtFinal" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtFinal=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 campo-duplo">
          <h4>Data de Atualização (inicial x final)</h4>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtInicial" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtInicial=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtFinal" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtFinal=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 campo-duplo">
          <h4>Último Parecer (inicial x final)</h4>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtInicial" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtInicial=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="dtFinal" ui-mask="99/99/9999" model-view-value="true" keys-shortcuts enter="buscar()">
              <span class="input-group-btn">
                <button class="btn btn-default" tabindex="-1" ng-click="dtFinal=''"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Status</h4>
          <select name="" class="form-control"></select>
        </div>
        <div class="col-xs-6 col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default botao-esticado" ng-click=""><span class="glyphicon glyphicon-erase"></span> Limpar</button>
        </div>
        <div class="col-xs-6 col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default botao-esticado" ng-click=""><span class="glyphicon glyphicon-search"></span> Filtrar</button>
        </div>

      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" ng-click="configuracoes.cancelarModalTipoFollowUp()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
        <button type="button" class="btn btn-default" ng-click="configuracoes.salvarTipoFollowUp()"><span class="glyphicon glyphicon-ok"></span> Limpar</button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL-->
