<div class="container em-lote">

  <div class="row card">
    <div class="col-xs-12">
      <div class="head">
        <h3><span class="glyphicon glyphicon-list"></span> Orçamentos</h3>
      </div>
    </div>

    <h4>&nbsp;</h4>
    <div class="row">
      <div class="col-xs-3">
        <button class="btn btn-default btn-block" ng-click="emLote.atualizar()"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
      </div>
      <div class="col-md-3 col-md-push-6">
        <button class="btn btn-default botao-esticado" ng-click="showFiltros = !showFiltros" data-toggle="modal" data-target="#modalFiltros"><span class="glyphicon glyphicon-search"></span> Filtrar</button>
      </div>
    </div>

    <h4 uib-collapse="!showFiltros">&nbsp;</h4>
    <div class="col-xs-12 well" uib-collapse="!showFiltros">
      <div class="row condensar-rows">
        <div class="col-md-2">
          <h4>Orçamento</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="emLote.filtro.pedido" placeholder="código">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="emLote.filtro.pedido = null"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Cliente</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-value="emLote.filtro.cliente.nome" placeholder="Clique na lupa para buscar" readonly="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="removeCliente()"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="buscarCliente()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Vendedor</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-value="emLote.filtro.vendedor.nome" placeholder="Clique na lupa para buscar" readonly="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="removeVendedor()"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="buscarVendedor()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Status</h4>
          <input type="text" class="form-control" placeholder="" readonly>
        </div>
        <div class="col-md-2">
          <h4>Inicial</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="emLote.filtro.dataMin" ui-mask="99/99/9999" model-view-value="true" uib-datepicker-popup="dd/MM/yyyy" show-button-bar="false" is-open="abertoMin" datepicker-options="{showWeeks: false}">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="emLote.filtro.dataMin = null"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="abertoMin = !abertoMin">
                <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Final</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="emLote.filtro.dataMax" ui-mask="99/99/9999" model-view-value="true" uib-datepicker-popup="dd/MM/yyyy" show-button-bar="false" is-open="abertoMax" datepicker-options="{showWeeks: false}">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="emLote.filtro.dataMax = null"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="abertoMax = !abertoMax">
                <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Valor mínimo</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="emLote.filtro.valorMin" currency number-only model-view-value="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="emLote.filtro.valorMin = null"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Valor máximo</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="emLote.filtro.valorMax" currency number-only model-view-value="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="emLote.filtro.valorMax = null"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default btn-block" ng-click="removeFiltros()"><span class="glyphicon glyphicon-remove"></span> Limpar filtros</button>
        </div>
        <div class="col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default btn-block" ng-click="emLote.filtrar()"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <h4>&nbsp;</h4>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="tabela tabela-bordered tabela-esticada" id="tabela-em-lote">
          <thead>
            <th>
              <div class="custom-checkbox">
                <input type="checkbox" value="None" id="all" name="check" ng-model="all" ng-click="emLote.marcarTodos(all)"/>
                <label for="all"></label>
              </div>
            </th>
            <th>Código</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Data</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr ng-repeat="p in emLote.pedidos track by $index">
              <td>
                <div class="custom-checkbox inverted">
                  <input type="checkbox" value="None" id="{{$index}}" name="check" ng-model="p.checked" ng-change="emLote.changeCheck(p)" />
                  <label for="{{$index}}"></label>
                </div>
              </td>
              <td data-label="Código">{{p.pedido.codigo}}</td>
              <td data-label="Cliente">{{p.pedido.cliente.nome}}</td>
              <td data-label="Vendedor">{{p.pedido.vendedor.nome}}</td>
              <td data-label="Data">{{p.pedido.dataPedido | date: 'short'}}</td>
              <td data-label="Total">{{p.pedido.valor | currency:'R$ '}}</td>
            </tr>
            <tr class="hidden-xs" ng-repeat="n in getNumber(emLote.pagination.max > emLote.pedidos.length ? emLote.pagination.max - emLote.pedidos.length : 0) track by $index">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="paginas">
      <h4 class="text-center">{{emLote.pagination.total}} resultado{{emLote.pagination.total == 1 ? '.' : 's.'}}</h4>
      <ul uib-pagination total-items="emLote.pagination.total" ng-model="emLote.pagination.current" max-size="5" items-per-page="emLote.pagination.max" ng-change="emLote.pagination.mudarPagina()" class="pagination-sm" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <a class="btn btn-orcamento" href="#/follow-up">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
      </a>
    </div>
    <div class="col-xs-6 col-sm-3 col-sm-push-6">
      <button class="btn btn-orcamento" ng-click="emLote.criar()">
        Criar
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>

</div>
