<div class="follow-up container">

  <div class="row card">
    <div class="col-xs-12">
      <div class="head">
        <h3><span class="glyphicon glyphicon-comment"></span> Follow Up</h3>
      </div>
    </div>

    <h4>&nbsp;</h4>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="followUp.atualizar()"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="followUp.showFiltros = !followUp.showFiltros" data-toggle="modal" data-target="#modalFiltros"><span class="glyphicon glyphicon-search"></span> Filtrar</button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="followUp.buscarPedido()"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
      </div>

      <div class="col-md-3">
        <a href="#/follow-up/orcamentos" class="btn btn-default botao-esticado"><span class="glyphicon glyphicon-plus"></span> Adicionar em lote</a>
      </div>
    </div>

    <!--FILTROS-->
    <h4 uib-collapse="!followUp.showFiltros">&nbsp;</h4>
    <div class="col-xs-12 well filtros" uib-collapse="!followUp.showFiltros">
      <a href="" class="close" ng-click="followUp.showFiltros = false"><span class="glyphicon glyphicon-remove"></span></a>
      <div class="row condensar-rows">
        <div class="col-md-2">
          <h4>Atendimento</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="followUp.filtro.atendimento" placeholder="código" keys-shortcuts enter="buscar()">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="followUp.filtro.atendimento = null"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Orçamento</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="followUp.filtro.pedido" placeholder="código" keys-shortcuts enter="buscar()">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="followUp.filtro.pedido = null"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Cliente</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-value="followUp.filtro.cliente.nome" placeholder="Clique na lupa para buscar" readonly="true">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="removeCliente()"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="buscarCliente()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
          <h4>Loja</h4>
          <ui-select ng-model="followUp.filtro.loja" title="Escolha uma loja">
            <ui-select-match placeholder="Escolha uma loja">{{$select.selected.nome}}</ui-select-match>
            <ui-select-choices repeat="loja.id as loja in followUp.lojas | propsFilter: {nome: $select.search, codigo: $select.search}">
              <div ng-bind-html="loja.nome | highlight: $select.search"></div>
              <small>
                Código: <span ng-bind-html="loja.codigo | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-xs-12 col-md-2">
          <h4>Responsável</h4>
          <select name="" class="form-control" ng-model="followUp.filtro.responsavel" ng-options="usuario.id as usuario.usuario for usuario in followUp.usuarios">
            <option value="">Todos</option>
          </select>
        </div>
        <div class="col-md-2">
          <h4>Data</h4>
          <select name="" class="form-control" ng-model="followUp.filtro.data">
            <option value="nenhum">Nenhum</option>
            <option value="creation">Cadastro</option>
            <option value="last_attendance_note">Último Parecer</option>
            <option value="attendance_history_deadline">Próximo contato</option>
          </select>
        </div>
        <div class="col-md-2">
          <h4>Inicial</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="followUp.filtro.dataMin" ui-mask="99/99/9999" model-view-value="true" uib-datepicker-popup="dd/MM/yyyy" show-button-bar="false" is-open="abertoMin" datepicker-options="{showWeeks: false}">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="followUp.filtro.dataMin = null"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="abertoMin = !abertoMin">
                <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Final</h4>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="followUp.filtro.dataMax" ui-mask="99/99/9999" model-view-value="true" uib-datepicker-popup="dd/MM/yyyy" show-button-bar="false" is-open="abertoMax" datepicker-options="{showWeeks: false}">
            <span class="input-group-btn">
              <button class="btn btn-default" tabindex="-1" ng-click="followUp.filtro.dataMax = null"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-default" tabindex="-1" ng-click="abertoMax = !abertoMax">
                <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <h4>Status</h4>
          <select name="" class="form-control" ng-model="followUp.filtro.status" ng-options="status.id as status.nome for status in followUp.statusArray">
            <option value="">Todos</option>
          </select>
        </div>
        <div class="col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default btn-block" ng-click="removeFiltros()"><span class="glyphicon glyphicon-remove"></span> Limpar filtros</button>
        </div>
        <div class="col-md-2">
          <h4>&nbsp;</h4>
          <button class="btn btn-default btn-block" ng-click="followUp.filtrar()"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Atendimentos</h3>
      </div>
      <div class="col-xs-12">
        <table class="tabela tabela-bordered tabela-esticada">
          <thead>
          <tr>
            <th></th>
            <th>Código</th>
            <th>Loja</th>
            <th>Orçamento</th>
            <th>Cliente</th>
            <th>Responsável</th>
            <th>Vendedor</th>
            <th>Próx Contato</th>
            <th>Último Parecer</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="a in followUp.atendimentos">
            <td class="hidden-xs"><div class="mostrador-de-cor" ng-style="{backgroundColor:a.historico[0].status.cor}" uib-tooltip="{{a.historico[0].status.nome}}"></div></td>
            <td class="visible-xs-block" data-label="Status"><span class="label label-default" ng-style="{backgroundColor:a.historico[0].status.cor}">{{a.historico[0].status.nome}}</span></td>
            <td data-label="Código">{{a.codigo}}</td>
            <td data-label="Loja">{{a.loja.codigo}}</td>
            <td data-label="Código do orçamento">{{a.pedido.codigo}}</td>
            <td data-label="Cliente">{{a.pedido.cliente.nome | truncate:35}}</td>
            <td data-label="Responsável">{{a.historico[0].responsavel.usuario || 'Não disponível'}}</td>
            <td data-label="Vendedor">{{a.pedido.vendedor.nome || 'Não disponível'}}</td>
            <td data-label="Data do próximo contato">{{a.historico.length ? (a.historico[0].proximoContato | date:'dd/MM/yyyy') : 'Não disponível'}}</td>
            <td data-label="Data do último parecer">{{a.parecer.length ? (a.parecer[0].dataCadastro | date:'short') : 'Não disponível'}}</td>
            <td class="hidden-xs"><a ng-href="#/atendimento/open?type=attendance&code={{a.codigo}}"><span class="glyphicon glyphicon-open-file"></span></a></td>
          </tr>
          <tr class="hidden-xs" ng-repeat="n in getNumber(pagination.max - followUp.atendimentos.length) track by $index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="legenda-status" ng-repeat="s in followUp.statusArray">
      <span class="glyphicon glyphicon-stop" ng-style="{color:s.cor}"></span>&nbsp;{{s.nome}}
    </div>
    <div class="paginas">
      <h3 class="text-center">{{pagination.total}} resultado{{pagination.total == 1 ? '.' : 's.'}}</h3>
      <ul uib-pagination total-items="pagination.total" ng-model="pagination.current" items-per-page="pagination.max" max-size="5" ng-change="pagination.mudarPagina()" class="pagination-sm" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
    </div>
  </div>

</div>
