<div class="row">
    <div style="text-align: center; color: #777;">
        <alerta titulo="Aviso!" mensagem="main.erro" uib-collapse="main.erro"></alerta>
        <div id="logoNomeLogin"></div>
        <br>
        <h4>Digite seu nome de usuário e senha</h4>
        <br>
        <div id="login" class="card">
            <h1><span class="glyphicon glyphicon-user"></span></h1>
            <input type="text" id="usuario" placeholder="Usuário" ng-model="username">
            <input type="password" id="senha" placeholder="Senha" ng-model="password">
            <button id="btnlogin" class="btn btn-default" ng-click="main.login()" >Login</button>
        </div>
    </div>
</div>
