<style>



</style>

<div id="formulario-orcamento">

  <div class="row card">
    <div class="col-lg-4 col-md-4">
      <div class="col-xs-3 col-sm-2 col-md-4">
        <div><h4 class="fonte-verde">Vendedor</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cod" aria-describedby="basic-addon2">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-9 col-sm-10 col-md-8">
        <div><h4 class="fonte-verde">Nome</h4></div>
        <div>
          <input type="text" class="form-control" readonly="true" tabindex="-1">
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="col-xs-3 col-sm-2">
        <div><h4 class="fonte-verde">Cliente</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cod" aria-describedby="basic-addon2">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-5 col-sm-7">
        <div><h4 class="fonte-verde">Nome</h4></div>
        <div id="nome-cliente">
          <input type="text" class="form-control" readonly="true" tabindex="-1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div><h4 class="fonte-verde">Telefone</h4></div>
        <div id="tel-cliente">
          <input type="text" class="form-control" readonly="true" tabindex="-1">
        </div>
      </div>
    </div>
  </div>

  <!--PRODUTOS-->
  <br>
  <div class="row card">
    <div class="col-md-12" id="controle-tabela-orcamento">
      <div class="col-xs-3 col-sm-2">
        <div><h4 class="fonte-verde">Código</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Código" aria-describedby="basic-addon2" ng-model="cdProduto" press-enter="orcamento.buscaCodigo(cdProduto)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-5 col-sm-7">
        <div><h4 class="fonte-verde">Descrição</h4></div>
        <div>
          <input type="text" class="form-control" ng-model="nmProduto"
                 uib-typeahead="produto as produto.NmProduto for produto in orcamento.buscaDescricao($viewValue)"
                 typeahead-template-url="../partials/produtosTypeaheadPopup.html"
                 typeahead-min-length="3"
                 typeahead-loading="orcamento.carregandoProdutos"
                 typeahead-wait-ms="100";
                 typeahead-on-select="orcamento.selectProduto($item); asyncSelected = '';" required>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div><h4 class="fonte-verde">Valor unitário</h4></div>
        <div>
          <input type="text" class="form-control" readonly="true" tabindex="-1">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4 class="fonte-verde">Quantidade</h4></div>
        <div>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4 class="fonte-verde">Desconto %</h4></div>
        <div>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4 class="fonte-verde">Desconto R$</h4></div>
        <div>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4 class="fonte-verde">Total</h4></div>
        <div>
          <input type="text" class="form-control" readonly="true" tabindex="-1">
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--<div class="row">-->
    <div class="col-md-12">
      <div class="">
        <table id="tabela-orcamento" class="table">
          <thead>
            <tr>
              <th valign="middle">Cód</th>
              <th>Descrição</th>
              <th>Un</th>
              <th>Qtd</th>
              <th>Vl unit</th>
              <th>Desc %</th>
              <th>Desc $</th>
              <th>Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]">
              <td>001</td>
              <td>Teste teste teste teste teste teste.</td>
              <td>1</td>
              <td>1</td>
              <td>10,00</td>
              <td>10%</td>
              <td>9,00</td>
              <td>9,00</td>
              <td><a href="" tabindex="-1"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div><h4 class="fonte-verde">Desconto R$</h4></div>
            <input type="text" class="form-control input-display" readonly="true">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div><h4 class="fonte-verde">Desconto %</h4></div>
            <input type="text" class="form-control input-display" readonly="true">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div><h4 class="fonte-verde">Total do pedido</h4></div>
            <input type="text" class="form-control input-display" readonly="true">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--PAGAMENTO-->
  <br>
  <div class="row card">
    <div class="col-md-12">
      <div><h3 class="fonte-verde">Pagamento <a href=""><span class="glyphicon glyphicon-plus-sign"></span></a></h3></div>
      <div class="">
        <table class="table" id="tabela-pagamento">
          <thead>
            <tr>
              <th>Month</th>
              <th>Savings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
            <tr>
              <td>February</td>
              <td>$50</td>
            </tr>
            <tr>
              <td>March</td>
              <td>$20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <input type="text" class="form-control input-display" readonly="true">
        </div>
      </div>
    </div>
  </div>
</div>
