<div id="formulario-orcamento" class="container">

  <div class="row" ng-if="orcamento.pedido.erp">
    <p class="alert alert-success alert-exportado text-center" role="alert">
      <span class="glyphicon glyphicon-ok"></span>
      Orçamento exportado! Código ERP: <b>{{orcamento.pedido.erp}}</b> Código NFE: <b>{{orcamento.pedido.nfe}}</b>
    </p>
  </div>

  <!--TITULO-->
  <div class="row card">
    <div class="col-md-12">
      <div class="main-head text-center">
        <h3>
          <!--<span class="glyphicon glyphicon-shopping-cart"></span>-->
          <span class="hidden-xs">{{orcamento.pedido.codigo ? (orcamento.pedido.codigo) : ''}}</span>
          <span class="hidden-xs">{{orcamento.pedido.codigo ? ('- ' + (orcamento.pedido.dataPedido | date:'dd/MM/yyyy')) : ''}}</span>
          <span class="hidden-xs">{{orcamento.pedido.loja && orcamento.pedido.codigo ? ('- ' + (orcamento.pedido.loja.nome)) : ''}}</span>
          <span class="visible-xs-inline">{{orcamento.pedido.codigo ? (orcamento.pedido.codigo) : ''}}</span>
          <span class="visible-xs-inline">{{orcamento.pedido.codigo ? (orcamento.pedido.dataPedido | date:'dd/MM/yyyy') : ''}}</span>
          {{orcamento.pedido.codigo ? '' : 'Novo Orçamento'}}
          <a href="" class="pull-right" ng-click="orcamento.duplicar()" title="Duplicar" ng-if="orcamento.pedido.codigo">
            <span class="glyphicon glyphicon-duplicate"></span>
          </a>
          <a href="" class="pull-right" ng-click="orcamento.imprimir()" title="Imprimir" style="margin-right: 10px"><span class="glyphicon glyphicon-print"></span></a>
        </h3>
      </div>
    </div>
    <br class="visible-xs-block">
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento" ng-click="orcamento.limpar(true)">
        <span class="glyphicon glyphicon-pencil hidden-xs"></span> Novo
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento" ng-click="buscarOrcamento()"><span class="glyphicon glyphicon-open hidden-xs"></span> Recuperar
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento" ng-click="orcamento.abrirAtendimento()" ng-disabled="orcamento.pedido.erp">
        <span class="glyphicon glyphicon-list-alt hidden-xs"></span> Atendimento
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento danger" ng-click="orcamento.excluir()" ng-disabled="orcamento.pedido.erp"><span class="glyphicon glyphicon-trash hidden-xs"></span>
        Excluir
      </button>
    </div>
  </div>

  <!--VENDEDOR-->
  <br>
  <div class="row card">
    <div id="form-vendedor" class="col-md-12" ng-init="formularios.vendedor = false" ng-click="formularios.vendedor = !formularios.vendedor; scrollTo($event);">
      <div class="head">
        <h3>Vendedor
          <span ng-if="!formularios.vendedor && orcamento.pedido.vendedor.nome">
            &raquo; ({{orcamento.pedido.vendedor.codigo}})
            <span class="hidden-xs">- {{orcamento.pedido.vendedor.nome}}</span>
          </span>
          <a href="" class="limpar" ng-click="orcamento.limparVendedor($event)" uib-tooltip="Limpar campos" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-erase"></span>
          </a>
          <a href=""><span ng-if="formularios.vendedor" class="glyphicon glyphicon-menu-up"></span></a>
          <a href=""><span ng-if="!formularios.vendedor" class="glyphicon glyphicon-menu-down"></span></a>
        </h3>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.vendedor">
      <div class="col-xs-5 col-sm-3">
        <h4>Código</h4>
        <span class="input-group">
          <input type="text" number-only name="CdVendedor" class="form-control" aria-describedby="basic-addon2"
                 ng-model="cdVendedor" ng-blur="blurCdVendedor()" keys-shortcuts prevent-default="true"
                 enter="orcamento.buscaVendedorPorCodigo(cdVendedor)" shift-enter="orcamento.escapeVendedor()"
                 f2="orcamento.buscaVendedorPorCodigo()" uib-tooltip="Use F2 para buscar" tooltip-append-to-body="true">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscaVendedorPorCodigo()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </span>
      </div>
      <div class="col-xs-7 col-sm-9">
        <h4>Nome</h4>
        <input name="nome-vendedor" type="text" class="form-control" ng-model="orcamento.pedido.vendedor"
               style="transition: none"
               keys-shortcuts prevent-default="true" shift-enter="orcamento.escapeVendedor()"
               uib-typeahead="vendedor as vendedor.nome for vendedor in orcamento.buscaVendedorPorNome($viewValue)"
               typeahead-template-url="partials/pessoasTypeaheadPopup.html"
               typeahead-min-length="typeaheadVendedor.min_length"
               typeahead-loading="isLoading"
               typeahead-wait-ms="typeaheadVendedor.wait"
               typeahead-on-select="orcamento.selectVendedor($item)" required>
      </div>
    </div>
  </div>

  <!--PRODUTOS-->
  <br class="hidden-xs">
  <div class="row card">
    <div id="form-produtos" class="col-md-12" ng-init="formularios.produtos = true" ng-click="formularios.produtos = !formularios.produtos; scrollTo($event);">
      <div class="head">
        <h3>Produtos
          <span ng-if="!formularios.produtos && orcamento.pedido.items.length > 0">
            &raquo; {{orcamento.pedido.items.length}} {{orcamento.pedido.items.length > 1 ? 'Produtos' : 'Produto'}}
            <span class="hidden-xs">- Total: {{orcamento.pedido.getValorTotalComDesconto() | currency: 'R$ '}}</span>
          </span>
          <a href="" class="limpar" ng-click="orcamento.limparProdutos($event)" uib-tooltip="Limpar campos" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-erase"></span>
          </a>
          <a href="">
            <span ng-if="formularios.produtos" class="glyphicon glyphicon-menu-up"></span>
          </a>
          <a href="">
            <span ng-if="!formularios.produtos" class="glyphicon glyphicon-menu-down"></span>
          </a>
        </h3>
      </div>
    </div>
    <div class="col-md-12" id="controle-tabela-orcamento" uib-collapse="!formularios.produtos">
      <div class="col-xs-7 col-sm-3">
        <h4>Código</h4>
        <input name="CdProduto" type="text" number-only class="form-control text-right" aria-describedby="basic-addon2"
               ng-model="cdProduto" ng-blur="blurProduto()" keys-shortcuts prevent-default="true"
               enter="orcamento.buscaProdutoPorCodigo(cdProduto)" shift-enter="orcamento.escapeProdutos()"
               f2="orcamento.pesquisarProdutoNoModal()" maxlength="6" uib-tooltip="Use F2 para buscar"
               tooltip-append-to-body="true">
      </div>
      <div class="visible-xs-inline-block col-xs-5">
        <h4>&nbsp;</h4>
        <button class="btn btn-default btn-block" ng-click="orcamento.buscaProdutoPorCodigo(cdProduto)">
          <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Descrição</h4>
        <input name="NmProduto" type="text" class="form-control" ng-model="nmProduto" ng-readonly=""
               ng-blur="blurProduto()"
               keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'quantidade')"
               shift-enter="orcamento.escapeProdutos()"
               f2="orcamento.pesquisarProdutoNoModal()"
               uib-typeahead="produto as produto.NmProduto for produto in orcamento.buscaProdutoPorDescricao($viewValue)"
               typeahead-template-url="partials/produtosTypeaheadPopup.html"
               typeahead-min-length="typeahead.min_length"
               typeahead-loading="isLoading"
               typeahead-wait-ms="typeahead.wait"
               typeahead-on-select="orcamento.selectProduto($item)" required>
      </div>
      <div class="col-xs-4 col-xs-push-4 col-sm-3 col-sm-push-0">
        <h4>Valor unitário</h4>
        <span class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" readonly="true" tabindex="-1" ng-value="item.produto.preco | currency: ''">
        </span>
      </div>
      <div class="col-xs-4 col-xs-pull-4 col-sm-3 col-sm-pull-0">
        <h4>Quantidade</h4>
        <span class="input-group">
          <input name="quantidade" type="text" class="form-control" currency symbol="''" number-only
                 ng-model="item.quantidade" ng-change="item.setQuantidade(item.quantidade)" keys-shortcuts
                 prevent-default="true"
                 enter="orcamento.avancar('input', 'percent')"
                 shift-enter="orcamento.escapeProdutos()" f2="orcamento.pesquisarProdutoNoModal()"
                 uib-tooltip="Use Enter para adicionar" tooltip-append-to-body="true" ng-readonly="!item.produto.id">
          <span class="input-group-addon">{{item.produto.unidade || '(un)'}}</span>
        </span>
      </div>
      <div class="hidden-xs col-sm-3">
        <h4>Desconto %</h4>
        <span class="input-group">
          <input name="percent" type="text" class="form-control" currency symbol="''" number-only
                 ng-model="item.descontoPercent" ng-change="orcamento.setDescontoPercentItem()"
                 keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'dinheiro')"
                 shift-enter="orcamento.escapeProdutos()" ng-readonly="!item.produto.id" ng-model-options="{'debounce': 500}">
          <span class="input-group-addon">%</span>
        </span>
      </div>
      <div class="hidden-xs col-sm-3">
        <h4>Desconto R$</h4>
        <span class="input-group">
          <span class="input-group-addon">R$</span>
          <input name="dinheiro" type="text" class="form-control" currency symbol="''" number-only
                 ng-model="item.descontoDinheiro" ng-change="orcamento.setDescontoDinheiroItem()"
                 keys-shortcuts prevent-default="true"
                 enter="item.quantidade <= 0 ? orcamento.limparProdutoTemp() : orcamento.addItem()"
                 shift-enter="orcamento.escapeProdutos()" ng-readonly="!item.produto.id" ng-model-options="{'debounce': 500}">
        </span>
      </div>
      <div class="col-xs-4 col-sm-3">
        <h4>Total</h4>
        <span class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" readonly="true" tabindex="-1" ng-value="item.getTotalComDesconto() | currency: ''">
        </span>
      </div>
    </div>
    <!--TABELA PRODUTOS-->
    <div class="hidden-xs col-md-12" uib-collapse="!formularios.produtos">
      <table id="tabela-orcamento" class="table">
        <thead>
        <tr>
          <th valign="middle">Cód</th>
          <th>Descrição</th>
          <th>Un</th>
          <th>Qtd</th>
          <th>Vl unit</th>
          <th>Desc %</th>
          <th>Desc $</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in orcamento.pedido.items track by $index">
          <td>{{i.produto.codigo}}</td>
          <td>{{i.produto.nome | limitTo : 50 }}</td>
          <td>{{i.produto.unidade}}</td>
          <td class="editable-elem" editable-elem ng-if="!orcamento.pedido.erp">
            <span>{{i.quantidade | currency : ""}}</span>
            <input currency symbol="''" number-only type="text" ng-model="i.quantidade" ng-change="i.setDescontoPercent()" ng-blur="i.quantidade <= 0 || !i.quantidade ? i.setQuantidade(1) : ''">
          </td>
          <td ng-if="orcamento.pedido.erp">
            <span>{{i.quantidade | currency : ""}}</span>
          </td>
          <td>{{i.produto.preco | currency}}</td>
          <td class="editable-elem" editable-elem ng-if="!orcamento.pedido.erp">
            <span>{{i.descontoPercent | currency : ""}}%</span>
            <input currency symbol="''" number-only type="text" ng-model="i.descontoPercent" ng-blur="orcamento.setDescontoPercentItem(i)">
          </td>
          <td ng-if="orcamento.pedido.erp">
            <span>{{i.descontoPercent | currency : ""}}%</span>
          </td>
          <td class="editable-elem" editable-elem ng-if="!orcamento.pedido.erp">
            <span>{{i.descontoDinheiro | currency : "R$ "}}</span>
            <input currency symbol="''" number-only type="text" ng-model="i.descontoDinheiro" ng-blur="orcamento.setDescontoDinheiroItem(i)">
          </td>
          <td ng-if="orcamento.pedido.erp">
            <span>{{i.descontoDinheiro | currency : "R$ "}}</span>
          </td>
          <td>{{i.getTotalComDesconto() | currency: 'R$ '}}</td>
          <td>
            <a tabindex="-1" confirm-popup title="Aviso" message="Deseja remover o item?" ok-func="orcamento.removerItem(i)" placement="left" ng-if="!orcamento.pedido.erp">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 visible-xs-block" uib-collapse="!formularios.produtos" ng-show="orcamento.pedido.items.length">
      <div style="max-height: 300px;overflow-y: auto" class="well">
        <table class="tabela tabela-bordered tabela-esticada">
          <tbody>
          <tr ng-repeat="i in orcamento.pedido.items">
            <td data-label="código">{{i.produto.codigo}}</td>
            <td data-label="descrição">{{i.produto.nome | limitTo: 35 }}</td>
            <td data-label="unidade">{{i.produto.unidade}}</td>
            <td data-label="quantidade">{{i.quantidade | currency: ''}}</td>
            <td data-label="valor unitário">{{i.produto.preco | currency: 'R$ '}}</td>
            <td data-label="total">{{i.getTotalComDesconto() | currency: 'R$ '}}</td>
            <td>
              <button class="btn btn-default pull-right" tabindex="-1" ng-click="orcamento.removerItem(i)" ng-hide="orcamento.pedido.erp">
                <span class="glyphicon glyphicon-remove"></span> Remover
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.produtos">
      <div class="hidden-xs col-md-8 col-md-push-4">
        <div class="hidden-xs col-sm-4 col-md-4">
          <h4>Desconto %</h4>
          <div class="div-display">{{(orcamento.pedido.getDescontoPercentItens() | currency : "") || "0,00"}}%</div>
        </div>
        <div class="hidden-xs col-xs-4 col-sm-4 col-md-4">
          <h4>Desconto R$</h4>
          <div class="div-display">{{orcamento.pedido.getDescontoDinheiroItens() | currency : "R$ "}}</div>
        </div>
        <div class=" col-sm-4 col-md-4">
          <h4>Total do pedido</h4>
          <div class="div-display">{{orcamento.pedido.getValorTotalComDesconto() | currency : "R$ "}}</div>
        </div>
      </div>
      <div class="visible-xs-block col-xs-12">
        <h4 class="pull-right">Total do Pedido</h4>
      </div>
      <div class="visible-xs-block col-xs-12">
        <h3 class="pull-right" style="margin: 0">{{orcamento.pedido.getValorTotalComDesconto() | currency : "R$ "}}</h3>
      </div>
    </div>
  </div>

  <!--CLIENTE-->
  <br class="hidden-xs">
  <div class="row card">
    <div id="form-cliente" class="col-md-12" ng-init="formularios.cliente = true" ng-click="formularios.cliente = !formularios.cliente; scrollTo($event);">
      <div class="head">
        <h3>Cliente
          <span ng-if="!formularios.cliente && orcamento.pedido.cliente.nome">
            &raquo; ({{cliente.novo ? 'Novo Cliente' : orcamento.pedido.cliente.codigo}})
            <span class="hidden-xs">- {{orcamento.pedido.cliente.nome}}</span>
          </span>
          <a href="" class="limpar" ng-click="orcamento.limparCliente($event)" uib-tooltip="Limpar campos" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-erase"></span>
          </a>
          <a href="">
            <span ng-if="formularios.cliente" class="glyphicon glyphicon-menu-up"></span>
          </a>
          <a href="">
            <span ng-if="!formularios.cliente" class="glyphicon glyphicon-menu-down"></span>
          </a>
        </h3>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.cliente">
      <div class="col-xs-5 col-sm-3">
        <h4>Código</h4>
        <span class="input-group">
          <input type="text" number-only class="form-control" name="CdCliente" aria-describedby="basic-addon2"
                 ng-model="cdCliente" ng-blur="blurCdCliente()" keys-shortcuts prevent-default="true"
                 enter="orcamento.buscaClientePorCodigo(cdCliente)" shift-enter="orcamento.escapeCliente()"
                 f2="orcamento.buscarCliente()" ng-readonly="cliente.novo" maxlength="6"
                 uib-tooltip="Use F2 para buscar" tooltip-append-to-body="true">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscarCliente()" ng-disabled="cliente.novo || orcamento.pedido.erp">
              <span class="glyphicon glyphicon-search"></span>
            </button>
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.novoCliente()" ng-disabled="cliente.novo || orcamento.pedido.erp">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </span>
      </div>
      <div class="col-xs-7 col-sm-9">
        <h4>Nome <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
        <input name="nome-cliente" type="text" class="form-control" ng-model="orcamento.pedido.cliente.nome"
               style="transition: none"
               ng-show="cliente.novo" keys-shortcuts prevent-default="true"
               enter="orcamento.avancar('select', 'tipo')" shift-enter="orcamento.salvar()" maxlength="60">

        <input name="nome-cliente-ta" type="text" class="form-control" ng-model="orcamento.pedido.cliente" ng-show="!cliente.novo"
               style="transition: none" keys-shortcuts prevent-default="true"
               shift-enter="orcamento.salvar()"
               uib-typeahead="cliente as cliente.nome for cliente in orcamento.buscaClientePorNome($viewValue)"
               typeahead-template-url="partials/pessoasTypeaheadPopup.html"
               typeahead-min-length="typeaheadCliente.min_length"
               typeahead-loading="isLoading"
               typeahead-wait-ms="typeaheadCliente.wait"
               typeahead-on-select="orcamento.selectCliente($item)" required>

      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Tipo <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
        <select name="tipo" class="form-control" ng-model="orcamento.pedido.cliente.tipo" ng-disabled="!cliente.novo"
                keys-shortcuts prevent-default="true"
                enter="orcamento.avancar('input', orcamento.pedido.cliente.tipo === 'F' ? 'cpf' : 'cnpj')"
                shift-enter="orcamento.salvar()">
          <option value="F">Pessoa Física</option>
          <option value="J">Pessoa Jurídica</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>CPF <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
        <input name="cpf" type="text" class="form-control" ng-model="orcamento.pedido.cliente.cpf"
               ui-mask="999.999.999-99" ng-readonly="!cliente.novo || orcamento.pedido.cliente.tipo !== 'F'"
               keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'cep')"
               shift-enter="orcamento.salvar()" ng-change="onchangeCPF()">
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>CNPJ <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
        <input name="cnpj" type="text" class="form-control" ng-model="orcamento.pedido.cliente.cnpj"
               ui-mask="99.999.999/9999-99" ng-readonly="!cliente.novo  || orcamento.pedido.cliente.tipo !== 'J'"
               keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'iEstadual')"
               shift-enter="orcamento.salvar()" ng-change="onchangeCNPJ()">
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Inscrição Estadual <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
        <input name="iEstadual" type="text" class="form-control" ng-model="orcamento.pedido.cliente.iEstadual"
               ng-readonly="!cliente.novo || orcamento.pedido.cliente.tipo !== 'J'" keys-shortcuts
               prevent-default="true" enter="orcamento.avancar('input', 'cep')" shift-enter="orcamento.salvar()"
               maxlength="20">
      </div>
      <div class="col-xs-12 col-sm-3" style="padding: 0;">
        <div class="col-xs-6 col-sm-8">
          <h4>CEP <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
          <input name="cepCliente" type="text" class="form-control" ng-hide="cliente.novo" ng-value="orcamento.pedido.cliente.endereco.cep" readonly style="transition:none">
          <span name="cepCliente" ng-class="cliente.novo ? 'input-group' : ''" ng-show="cliente.novo" style="transition:none">
            <input name="cep" type="text" class="form-control" keys-shortcuts prevent-default="true"
                   enter="cdCEP == orcamento.pedido.cliente.endereco.cep ? orcamento.avancar('input', 'endNumero') : orcamento.buscarCEP()"
                   shift-enter="orcamento.salvar()" f2="orcamento.buscarCEP(true)" ng-disabled="!cliente.novo"
                   ng-model="cdCEP" ui-mask="99999-999" ng-blur="blurCdCEP()" uib-tooltip="Use F2 para buscar"
                   tooltip-append-to-body="true">
            <span class="input-group-btn" ng-hide="!cliente.novo">
              <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscarCEP(true)">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </span>
        </div>
        <div class="col-xs-6 col-sm-4">
          <h4>UF</h4>
          <input type="text" class="form-control" ng-readonly="true" ng-value="orcamento.pedido.cliente.endereco.uf">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" style="padding: 0">
        <div class="col-xs-9 col-sm-9">
          <h4>Logradouro</h4>
          <input type="text" class="form-control" ng-readonly="true" ng-value="orcamento.pedido.cliente.endereco.logradouro">
        </div>
        <div class="col-xs-3 col-sm-3">
          <!--NUMERO-->
          <h4>&#8470; <sup>{{cliente.novo ? '1' : ''}}</sup></h4>
          <input name="endNumero" type="text" class="form-control" ng-readonly="!cliente.novo"
                 ng-model="orcamento.pedido.cliente.endereco.numero" keys-shortcuts prevent-default="true"
                 enter="orcamento.avancar('input', 'tel-cliente')" shift-enter="orcamento.salvar()" maxlength="10">
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Bairro</h4>
        <input type="text" class="form-control" ng-readonly="true" ng-value="orcamento.pedido.cliente.endereco.bairro">
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Cidade</h4>
        <input type="text" class="form-control" ng-readonly="true" ng-value="orcamento.pedido.cliente.endereco.cidade">
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Telefone <sup>{{cliente.novo ? '2' : ''}}</sup></h4>
        <!--<span class="input-group">-->
          <!--<span class="input-group-addon">&nbsp;({{orcamento.pedido.cliente.endereco.ddd || 'DDD'}})&nbsp;</span>-->
          <input name="tel-cliente" type="text" class="form-control" ng-model="orcamento.pedido.cliente.telefone"
                 ng-readonly="!cliente.novo" keys-shortcuts prevent-default="true"
                 enter="orcamento.avancar('input', 'ddd-cel-cliente')" shift-enter="orcamento.salvar()">
        <!--</span>-->
      </div>
      <div class="col-xs-6 col-sm-3">
        <!--<div class="col-xs-4 col-sm-4 remove-padding">-->
          <!--<h4>DDD </h4>-->
          <!--<input name="ddd-cel-cliente" type="text" class="form-control text-right"-->
                 <!--ng-model="orcamento.pedido.cliente.dddCelular" ui-mask="(99)" ng-readonly="!cliente.novo"-->
                 <!--keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'cel-cliente')"-->
                 <!--shift-enter="orcamento.salvar()">-->
        <!--</div>-->
        <!--<div class="col-xs-8 col-sm-8 remove-padding">-->
          <h4>Celular <sup>{{cliente.novo ? '2' : ''}}</sup></h4>
          <input name="cel-cliente" type="text" class="form-control text-right"
                 ng-model="orcamento.pedido.cliente.celular" ng-readonly="!cliente.novo"
                 keys-shortcuts prevent-default="true" enter="orcamento.avancar('input', 'email-cliente')"
                 shift-enter="orcamento.salvar()">
        <!--</div>-->
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Email <sup>{{cliente.novo ? '2' : ''}}</sup></h4>
        <input name="email-cliente" type="email" class="form-control" ng-model="orcamento.pedido.cliente.email"
               ng-readonly="!cliente.novo" keys-shortcuts prevent-default="true" enter=""
               shift-enter="orcamento.salvar()" maxlength="50">
      </div>


      <div class="col-xs-6 col-sm-6" uib-collapse="!cliente.novo">
        <br>
        <h5>1 Campo obrigatório</h5>
        <h5>2 Necessário ao menos uma forma de contato</h5>
      </div>
      <div class="col-xs-3 col-sm-3" uib-collapse="!cliente.novo">
        <h4>&nbsp;</h4>
        <button class="btn btn-default btn-form" ng-click="orcamento.cadastrarCliente()">Cadastrar</button>
      </div>
      <div class="col-xs-3 col-sm-3" uib-collapse="!cliente.novo">
        <h4>&nbsp;</h4>
        <button class="btn btn-default btn-form" ng-click="cliente.novo = false; orcamento.limparCliente(null, true)">
          Cancelar
        </button>
      </div>

    </div>
  </div>

  <!--OBSERVACOES-->
  <br class="hidden-xs">
  <div class="row card">
    <div id="form-observacoes" class="col-md-12" ng-init="formularios.observacoes = true"
         ng-click="formularios.observacoes = !formularios.observacoes; scrollTo($event);">
      <div class="head">
        <h3>Observações
          <span ng-if="!formularios.observacoes"></span>
          <a href="" class="limpar" ng-click="orcamento.limparPagamento($event)" uib-tooltip="Limpar campos" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-erase"></span>
          </a>
          <a href="">
            <span ng-if="formularios.observacoes" class="glyphicon glyphicon-menu-up"></span>
          </a>
          <a href="">
            <span ng-if="!formularios.observacoes" class="glyphicon glyphicon-menu-down"></span>
          </a>
        </h3>
      </div>
    </div>
    <div class="col-xs-12" uib-collapse="!formularios.observacoes">
      <textarea name="obs" cols="30" rows="10" class="form-control" ng-model="orcamento.pedido.observacoes" keys-shortcuts shift-enter="orcamento.abrirModalPagamento()"></textarea>
    </div>
  </div>

  <br>
  <div class="row card">
    <div class="col-md-12">
      <div class="col-xs-3 col-sm-3">
        <h4>Vendedor</h4>
        <h5 ng-show="orcamento.pedido.vendedor.codigo">
          {{orcamento.pedido.vendedor.codigo}} - {{orcamento.pedido.vendedor.nome}}
        </h5>
        <h5 ng-hide="orcamento.pedido.vendedor.codigo">
          (Nenhum vendedor)
        </h5>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h4>Produtos</h4>
        <h5>
          {{orcamento.pedido.items.length}} {{orcamento.pedido.items.length > 1 ? 'Produtos' : 'Produto'}} - Total: {{orcamento.pedido.getValorTotalComDesconto() | currency: 'R$ '}}
        </h5>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h4>Cliente</h4>
        <h5 ng-show="orcamento.pedido.cliente.codigo">
          {{orcamento.pedido.cliente.codigo}} - {{orcamento.pedido.cliente.nome}}
        </h5>
        <h5 ng-hide="orcamento.pedido.cliente.codigo">
          (Nenhum cliente)
        </h5>
      </div>
      <div class="col-xs-3 col-sm-3">
        <h4>Pagamento</h4>
        <!--VERSAO ANTIGA PARA VARIAS FORMAS DE PAGAMENTO-->
        <!--<h5 ng-show="orcamento.pedido.pagamentos.length">-->
          <!--<span ng-repeat="p in orcamento.pedido.pagamentos">-->
            <!--{{p.modalidade.nome}} - {{p.valor | currency: 'R$ '}}<br>-->
          <!--</span>-->
        <!--</h5>-->
        <h5 ng-show="orcamento.pedido.pagamentos.length">
          {{orcamento.pedido.prazo.descricao}} {{orcamento.pedido.getValorTotalComDesconto() | currency: 'R$ '}}
        </h5>
        <h5 ng-hide="orcamento.pedido.pagamentos.length">
          (Nenhuma forma de pagamento)
        </h5>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento" ng-click="orcamento.abrirModalPagamento()">
        <span class="glyphicon glyphicon-credit-card hidden-xs"></span> Pagamento
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento" ng-click="orcamento.enviar()">
        <span class="glyphicon glyphicon-envelope hidden-xs"></span> Email
      </button>
    </div>
    <!--<div class="col-xs-6 col-md-3">-->
      <!--<button class="btn btn-orcamento" ng-click="orcamento.imprimir()">-->
        <!--<span class="glyphicon glyphicon-print hidden-xs"></span> Imprimir-->
      <!--</button>-->
    <!--</div>-->
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento warning" ng-click="orcamento.salvar()" ng-disabled="orcamento.pedido.idStatus != 1001 || orcamento.pedido.erp">
        <span class="glyphicon glyphicon-floppy-save hidden-xs"></span> Salvar
      </button>
    </div>
    <div class="col-xs-6 col-md-3">
      <button class="btn btn-orcamento success" ng-click="orcamento.exportar()" ng-disabled="orcamento.pedido.erp || orcamento.pedido.idStatus != 1001 || !orcamento.pedido.id">
        <span class="glyphicon glyphicon-share-alt hidden-xs"></span> Exportar
      </button>
    </div>
  </div>

  <div ng-include="'partials/opcoesOrcamentoSalvo.html'" class="opcoes salvo"></div>
  <div ng-include="'partials/opcoesOrcamentoExportado.html'" class="opcoes exportado"></div>

</div>

<!--MODAL OBSERVACOES-->
<div class="modal meu-modal fade" id="modalObs" tabindex="-1" role="dialog" aria-labelledby="modalObs">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <div class="title">
          <span class="glyphicon glyphicon-pencil"></span> Observações <span class="glyphicon glyphicon-remove close" data-dismiss="modal"></span>
        </div>
      </div>
      <div class="body" style="height: 244px">
        <textarea cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL OBSERVACOES-->

<div name="impressao" class="impressao" ng-include="'partials/impressaoOrcamento.html'"
     ng-hide="!orcamento.pedido.id || !orcamento.pedido.codigo || (backup ? !backup.compare(orcamento.pedido) : false)"></div>
<h1 class="impressao aviso"
    ng-show="!orcamento.pedido.id || !orcamento.pedido.codigo || (backup ? !backup.compare(orcamento.pedido) : false)">
  <span class="glyphicon glyphicon-alert"></span> Impressão indisponível
</h1>

<!--MODAL EMAIL-->
<div class="modal meu-modal fade" id="modalEmail" role="dialog" aria-labelledby="modalEmail" ng-init="enderecoEmail = orcamento.pedido.cliente.email">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header clearfix">
        <div class="title">
          <span class="glyphicon glyphicon-envelope"></span> Enviar orçamento <span class="glyphicon glyphicon-remove close" data-dismiss="modal"></span>
        </div>
      </div>
      <div class="body xs condensar-rows">
        <div class="col-md-12">
          <h4>Endereço</h4>
          <ui-select multiple tagging="orcamento.emailExterno" limit="10" sortable="true" search-enabled="orcamento.emails.length < 10" ng-model="orcamento.emails" append-to-body="true" style="z-index: 1051">
            <ui-select-match placeholder="Informe os emails">{{$item.nome}} &lt;{{$item.email}}&gt;</ui-select-match>
            <ui-select-choices repeat="c in orcamento.contatos | filter: {nome: $select.search, email: $select.search}">
              <div ng-bind-html="''+c.nome | highlight: $select.search"></div>
              <small ng-if="!c.isTag">email: <span ng-bind-html="''+c.email | highlight: $select.search"></span></small>
              <div ng-if="c.isTag" ng-bind-html="(c.email | highlight: $select.search) +' (externo)'"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancelar
        </button>
        <button type="button" class="btn btn-default" ng-click="orcamento.enviarEmail(enderecoEmail)" data-dismiss="modal">
          <span class="glyphicon glyphicon-envelope"></span> Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM EMAIL-->


<!--MODAL PAGAMENTO-->
<div class="modal meu-modal fade" id="modalPagamento" role="dialog" aria-labelledby="modalPagamento">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <div class="title">
          <span class="glyphicon glyphicon-credit-card"></span>
          Pagamento
          <span class="glyphicon glyphicon-remove close" data-dismiss="modal"></span>
        </div>
      </div>
      <div class="body condensar-rows">
        <div class="col-md-3">
          <h4>Código</h4>
          <div class="input-group">
            <input type="text" class="form-control" name="cdPrazo" ng-model="orcamento.cdPrazo" keys-shortcuts enter="orcamento.buscarPrazoPorCodigo(orcamento.cdPrazo)" blur-to="orcamento.documento.prazo.codigo" ng-disabled="orcamento.pedido.erp">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="orcamento.buscarPrazo()" ng-disabled="orcamento.pedido.erp">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-9">
          <h4>Descrição</h4>
          <input type="text" class="form-control" placeholder="Descrição do prazo" ng-model="orcamento.tempPrazo" ng-disabled="orcamento.pedido.erp"
                 keys-shortcuts enter=""
                 uib-typeahead="prazo as prazo.descricao for prazo in orcamento.buscarPrazosPorDescricao($viewValue)"
                 typeahead-min-length="2"
                 typeahead-wait-ms="300"
                 typeahead-on-select="orcamento.prepararPrazo($item)">
        </div>

        <div class="col-xs-12">
          <br>
          <h3 class="text-center" ng-show="orcamento.pedido.idPrazo">{{orcamento.pedido.prazo.descricao}}</h3>
          <br>
          <h4>Parcelas</h4>
          <table class="tabela tabela-esticada tabela-bordered" ng-hide="!orcamento.pedido.pagamentos.length">
            <thead>
            <tr>
              <th></th>
              <th>Forma de pagamento</th>
              <th>Vencimento</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pagamento in orcamento.pedido.pagamentos track by $index">
              <td>{{$index + 1}}</td>
              <td>
                <select class="form-control" ng-options="forma as forma.descricao for forma in orcamento.pedido.prazo.formas track by forma.codigo" ng-model="pagamento.forma" ng-change="orcamento.checkFormasPagamento(pagamento.forma); pagamento.setForma();" ng-disabled="orcamento.pedido.erp">
                  <option value="" disabled>Selecione a forma</option>
                </select>
              </td>
              <td>{{pagamento.vencimento | date}}</td>
              <td><input type="text" class="form-control text-right" ng-value="pagamento.valor | currency:'R$ '" readonly></td>
            </tr>
            </tbody>
          </table>
          <div ng-show="!orcamento.pedido.pagamentos.length">
            <br>
            <h2 class="text-center">Nenhum prazo informado</h2>
            <br>
          </div>
        </div>

      </div>
      <div class="footer">
        <button type="button" name="positive" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-ok"></span> Ok
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL PAGAMENTO-->

<!--MODAL AUTORIZAR DESCONTO-->
<div class="modal meu-modal fade" id="modalAutorizarDesconto" tabindex="-1" role="dialog" aria-labelledby="modalAutorizarDesconto">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="header">
        <div class="title">
          <span class="glyphicon glyphicon-lock"></span> Autorizar <span class="glyphicon glyphicon-remove close" data-dismiss="modal"></span>
        </div>
      </div>
      <div class="body" style="height: 244px">
        <h4>Login</h4>
        <input type="text" class="form-control">
        <h4>Senha</h4>
        <input type="password" class="form-control">
      </div>
      <div class="footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Ok
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL AUTORIZAR DESCONTO-->
