<style>



</style>

<div id="formulario-orcamento">

  <!--VENDEDOR-->
  <div class="row card">
    <div class="col-md-12" ng-init="formularios.vendedor = false" ng-click="formularios.vendedor = !formularios.vendedor">
      <div class="head">
        <h3>Vendedor
          <span ng-if="!formularios.vendedor && orcamento.vendedor.nmVendedor"> &raquo; ({{orcamento.vendedor.cdVendedor}} - {{orcamento.vendedor.nmVendedor}})</span>
          <span ng-if="formularios.vendedor" class="glyphicon glyphicon-menu-up"></span>
          <span ng-if="!formularios.vendedor" class="glyphicon glyphicon-menu-down"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.vendedor">
      <div class="col-xs-3 col-sm-3">
        <div><h4>Código</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="orcamento.vendedor.cdVendedor" press-enter="orcamento.buscaVendedorPorCodigo(orcamento.vendedor.cdVendedor)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscaVendedorPorCodigo(orcamento.vendedor.cdVendedor)"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9">
        <div><h4>Nome</h4></div>
        <div>
          <input type="text" class="form-control" tabindex="-1" ng-model="orcamento.vendedor.nmVendedor">
        </div>
      </div>
    </div>
  </div>

  <!--CLIENTE-->
  <br>
  <div class="row card">
    <div class="col-md-12" ng-init="formularios.cliente = true" ng-click="formularios.cliente = !formularios.cliente">
      <div class="head">
        <h3>Cliente
          <span ng-if="!formularios.cliente && orcamento.cliente.nmCliente"> &raquo; ({{orcamento.cliente.cdCliente}} - {{orcamento.cliente.nmCliente}})</span>
          <span ng-if="formularios.cliente" class="glyphicon glyphicon-menu-up"></span>
          <span ng-if="!formularios.cliente" class="glyphicon glyphicon-menu-down"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.cliente">
      <div class="col-xs-3 col-sm-3">
        <div><h4>Código</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="orcamento.cliente.cdCliente" press-enter="orcamento.buscaClientePorCodigo(orcamento.cliente.cdCliente)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscaClientePorCodigo(orcamento.cliente.cdCliente)"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-9 col-sm-9">
        <div><h4>Nome</h4></div>
        <div id="nome-cliente">
          <input type="text" class="form-control" ng-model="orcamento.cliente.nmCliente">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Telefone</h4></div>
        <div id="tel-cliente">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Celular</h4></div>
        <div id="cel-cliente">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Email</h4></div>
        <div id="email-cliente">
          <input type="text" class="form-control" ng-model="orcamento.orcamentocliente.email">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Alguma coisa</h4></div>
        <div id="">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <!--PRODUTOS-->
  <br>
  <div class="row card">
    <div class="col-md-12" ng-init="formularios.produtos = true" ng-click="formularios.produtos = !formularios.produtos">
      <div class="head">
        <h3>Produtos
          <span ng-if="formularios.produtos" class="glyphicon glyphicon-menu-up"></span>
          <span ng-if="!formularios.produtos" class="glyphicon glyphicon-menu-down"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-12" id="controle-tabela-orcamento" uib-collapse="!formularios.produtos">
      <div class="col-xs-3 col-sm-3">
        <div><h4>Código</h4></div>
        <div class="input-group">
          <input id="CdProduto" type="text" class="form-control" aria-describedby="basic-addon2" ng-model="produto.cdProduto" press-enter="orcamento.buscaProdutoPorCodigo(produto.cdProduto)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="orcamento.buscaProdutoPorCodigo(produto.cdProduto)"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-5 col-sm-6">
        <div><h4>Descrição</h4></div>
        <div>
          <input type="text" class="form-control" ng-model="produto.nmProduto"
                 uib-typeahead="produto as produto.NmProduto for produto in orcamento.buscaProdutoPorDescricao($viewValue)"
                 typeahead-template-url="../partials/produtosTypeaheadPopup.html"
                 typeahead-min-length="3"
                 typeahead-loading="orcamento.carregandoProdutos"
                 typeahead-wait-ms="100";
                 typeahead-on-select="orcamento.selectProduto($item);" required>
        </div>
      </div>
      <div class="col-xs-4 col-sm-3">
        <div><h4>Valor unitário</h4></div>
        <div class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" readonly="true" tabindex="-1" filtro-moeda ng-model="produto.vlPreco">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Quantidade</h4></div>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="produto.quantidade" ng-change="orcamento.recalcular('quantidade')" press-enter="orcamento.addProduto()">
          <span class="input-group-addon" ng-if="produto.unidade">{{produto.unidade}}</span>
          <span class="input-group-addon" ng-if="!produto.unidade">(un)</span>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Desconto %</h4></div>
        <div class="input-group">
          <input type="text" class="form-control" filtro-moeda ng-model="produto.desconto_percent" ng-change="orcamento.recalcular('desconto_percent')" press-enter="orcamento.addProduto()">
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Desconto R$</h4></div>
        <div class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" filtro-moeda ng-model="produto.desconto_dinheiro" ng-change="orcamento.recalcular('desconto_dinheiro')" press-enter="orcamento.addProduto()">
        </div>
      </div>
      <div class="col-xs-3 col-sm-3">
        <div><h4>Total</h4></div>
        <div class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" readonly="true" tabindex="-1" filtro-moeda ng-model="produto.total">
        </div>
      </div>
    </div>
    <!--TABELA PRODUTOS-->
    <div class="col-md-12" uib-collapse="!formularios.produtos">
      <div class="">
        <table id="tabela-orcamento" class="table">
          <thead>
            <tr>
              <th valign="middle">Cód</th>
              <th>Descrição</th>
              <th>Un</th>
              <th>Qtd</th>
              <th>Vl unit</th>
              <th>Desc %</th>
              <th>Desc $</th>
              <th>Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in orcamento.pedido.getProdutos()">
              <td>{{p.cdProduto}}</td>
              <td>{{p.nmProduto | limitTo : 50 }}</td>
              <td>{{p.unidade}}</td>
              <td>{{p.quantidade}}</td>
              <td>{{p.vlPreco | currency}}</td>
              <td>{{p.desconto_percent | filtroDecimal }}%</td>
              <td>{{p.desconto_dinheiro | currency}}</td>
              <td>{{p.total | currency}}</td>
              <td><a href="" tabindex="-1"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.produtos">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div><h4>Desconto %</h4></div>
          <div class="display">{{orcamento.pedido.getDescontoPercentTotal() | currency : ""}}%</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div><h4>Desconto R$</h4></div>
          <div class="display">{{orcamento.pedido.getDescontoDinheiroTotal() | currency : "R$ "}}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div><h4>Total do pedido</h4></div>
          <div class="display">{{orcamento.pedido.getValorTotal() | currency : "R$ "}}</div>
        </div>
      </div>
    </div>
  </div>

  <!--PAGAMENTO-->
  <br>
  <div class="row card">
    <div class="col-md-12" ng-init="formularios.pagamentos = true" ng-click="formularios.pagamentos = !formularios.pagamentos">
      <div class="head">
        <h3>Pagamento
          <a href=""><span class="glyphicon glyphicon-plus-sign"></span></a>
          <span ng-if="formularios.pagamentos" class="glyphicon glyphicon-menu-up"></span>
          <span ng-if="!formularios.pagamentos" class="glyphicon glyphicon-menu-down"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.pagamentos">
      <div class="">
        <table class="table" id="tabela-pagamento">
          <thead>
            <tr>
              <th>Month</th>
              <th>Savings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
            <tr>
              <td>February</td>
              <td>$50</td>
            </tr>
            <tr>
              <td>March</td>
              <td>$20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12" uib-collapse="!formularios.pagamentos">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <input type="text" class="form-control input-display" readonly="true">
        </div>
      </div>
    </div>
  </div>
</div>
