<div class="signup">
  <div class="col-md-12 titulo">
    <h1>Crie sua conta do Commercial</h1>
  </div>

  <div class="col-md-7">
    <!--<div class="nome"></div>-->
    <div class="descricao">
      <h4><span class="glyphicon glyphicon-ok"></span> Crie sua conta e comece a usufruir das vantagens que só o
        Commercial lhe proporciona.</h4>
    </div>
    <div class="logo"></div>
    <div class="descricao">
      <!--<h4><span class="glyphicon glyphicon-ok"></span> Crie sua conta e comece a usufruir das vantagens que só o-->
        <!--Commercial lhe proporciona.</h4>-->
      <h4><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp; Crie orçamentos de forma simples e prática.</h4>
      <h4><span class="glyphicon glyphicon-send"></span>&nbsp; Imprima ou envie orçamentos por email.</h4>
      <h4><span class="glyphicon glyphicon-calendar"></span>&nbsp; Controle seus orçamentos visando a pós venda.</h4>
    </div>
  </div>

  <div class="col-md-5 card condensar-rows">
    <div class="col-md-6">
      <h4>Nome</h4>
      <input type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="col-md-6">
      <h4>&nbsp;</h4>
      <input type="text" class="form-control" placeholder="Sobrenome">
    </div>

    <div class="col-md-12">
      <h4>Email</h4>
      <input type="text" class="form-control">
    </div>

    <div class="col-md-12">
      <h4>Nome de usuário</h4>
      <input type="text" class="form-control">
    </div>

    <div class="col-md-12">
      <h4>Criar uma senha</h4>
      <input type="password" class="form-control">
    </div>

    <div class="col-md-12">
      <h4>Confirme sua senha</h4>
      <input type="password" class="form-control">
    </div>

    <div class="col-md-offset-7 col-md-5">
      <h4>&nbsp;</h4>
      <button class="btn btn-default botao-esticado botao-invertido">Enviar</button>
    </div>
  </div>

  <div class="col-md-offset-7 col-md-5 card login-link">
    <a href="#/login">Já tenho uma conta.</a>
  </div>


</div>
